[2017-08-03 17:51] douglas-reid commented on #272
Let's not close this until we are on the new model entirely.

[2017-08-03 17:58] ZackButcher commented on #550
We have not done what this issue proposes: there is still code that deals with config out of the request path that lives side-by-side with code in the request path that doesn't deal with config. All of the config validation in pkg/aspect, and in adapters themselves. All of this code should move around.

We probably need to update how exactly we want to structure things in light of the new adapter

[2017-08-03 18:44] geeknoid commented on #812
Done.

[2017-08-03 18:44] #812 closed

[2017-08-03 20:03] guptasu opened #1006 "We need to close the handler on config change"
NOTE: We are not closing the adapter builders right now with the old model, so the new model is no worse. Therefore making this P1. @geeknoid please update priority if you disagree.

Currently the handlers are built during the configuration time. Handlers are configured with their configuration + all the inferred types ([handler.go](https://github.com/istio/mixer/blob/master/pkg/config/handler.go)

[2017-08-04 01:44] guptasu commented on #1001
Done

[2017-08-04 01:44] #1001 closed

[2017-08-04 01:51] guptasu commented on #820
@geeknoid  Help on this issue pls. Before we port adapters, it is nice to resolve this so the public interface will not change. I can look into it next week, however, I would prefer to work on E2E test from Monday for the new config model before we have a Green light for adapter porting.

[2017-08-04 17:07] geeknoid commented on #820
I'll spend some time on this today.

[2017-08-04 19:29] guptasu opened #1018 "Fix template codegen issues."
Template names need to be uppercase in the proto, otherwise it produces code that isn't usable. We should flag lower case template names in the proto as an error.

[2017-08-04 19:34] guptasu commented on #1018
- The generated ConfigureListChecker method doesn't use a name for its argument, but CheckListChecker does. We probably should have names for all arguments in generated code.

[2017-08-04 19:34] guptasu commented on #1018
@geeknoid using this as an umbrella bug for issues you are reporting.

[2017-08-04 20:24] geeknoid commented on #1018
Sunny and I chatted and came up with some symbol renames we probably should do:

- Templates should be named after the data they carry (ListEntry, Metric, LogEntry)

- XXXProcessor & XXXProcessorBuilder become XXXHandler & XXXHandlerBuilder

- CheckXXX becomes HandleXXX

- ConfigureXXX becomes ConfigureXXXHandler

[2017-08-07 19:33] guptasu commented on #1018
File name should not default to _processor

[2017-08-07 23:01] guptasu commented on #997
@geeknoid  and I chatted and we need to support
- enums and sub messags inside a template
- support gogo attribues to do fancy stuff like use go timestamp in case of protobuf.DateTime inside the generated go code.

[2017-08-07 23:25] geeknoid commented on #1018
If a template has no fields, then the generated code contains an unreferenced variable in ProcessCheck or ProcessReport. The md variable is unused:

				var instances []*istio_mixer_adapter_sample_check.Instance
				for name, md := range castedInsts {

[2017-08-07 23:26] geeknoid commented on #1018
In the generated code, we should try to preallocate slices and maps in order to avoid extraneous allocations at runtime when possible. For example, in ProcessCheck or ProcessReport:

				var instances []*istio_mixer_adapter_sample_check.Instance
				castedInsts := make(map[string]*istio_mixer_adapter_sample_check.InstanceParam)

Both of these could be preallocated to the right size up front.

[2017-08-08 02:40] guptasu opened #1029 "template codegen should allow proto.datetime and proto.duration types"
Templates might need enums for expressing things like priority
Templates might gogo options to replace proto datetime to go datetime
Templates might need sub messages too for some fields.

[2017-08-08 02:40] guptasu commented on #1029
@geeknoid  FYI

[2017-08-08 02:51] guptasu opened #1031 "Support multiple variety templates"
Discussed this with @geeknoid about this issue. There might be scenario where a single template might want to support Check Report Quota..
things like 'user' which is used for check as well as someone might want to report 'user' instances.

@ZackButcher @mandarjog @douglas-reid  @geeknoid - FYI

[2017-08-08 17:53] ZackButcher opened #1032 "Pull zipkin address from configmap"
Envoy gets the address to send zipkin traces from pilot by way of the Istio configmap. Mixer should get its zipkin address in the same way.

[2017-08-08 18:45] mandarjog opened #1033 "Publish minimal Mixer RBAC permissions"
At present Mixer runs with full permissions / default account.
Mixer should run with the minimal set of permissions required to do its job.

Mixer and Mixer validator should publish the minimal RBAC permissions.

[2017-08-08 18:45] mandarjog commented on #1033
@costinm @andraxylia on cc.

[2017-08-08 18:46] guptasu opened #1034 "Revisit : Handler interface generated per template"
@mandarjog proposed that we might want to rethink on how the Builder and Handler interfaces will be used by mixer framework to interact with Adapters.

With the current design, if there is any change in the Instance, we require creation of the handler completely. which would mean connection needs to be established again.

Proposals:
- Invoked getBuilderInfo(adapterConfig) first, let the adapter es

[2017-08-08 18:48] guptasu commented on #1006
@mandarjog FYI

[2017-08-09 19:41] guptasu opened #1040 "Move template annotations inside Template message."
Currently template variety and template name are on the file level. we want to move them to the message level.

@douglas-reid @geeknoid FYI

[2017-08-09 19:43] geeknoid commented on #1040
Related:

- Instead of a template name annotation, would it be possible to use the message's own name instead? So instead of calling the message Template and having an annotation stating the template's name is Metric, can we just call the message itself Metric?

- If the annotations are per-message, would it make it possible to define multiple templates in a single package?

[2017-08-09 19:47] douglas-reid commented on #1040
@geeknoid: defining multiple templates in a single package was one of the reasons why we were asked to move the annotation.

that might also be a way to simplify the naming:  `template.Metric`, `template.Lists`, etc., all within the template package.

[2017-08-09 20:06] guptasu commented on #1040
Interesting, if we want to define multiple template in the same file, then code we generate needs to include Template name inside it..
Some of the generated code currently does not.
[code]

[code]

[code]

[2017-08-09 21:55] geeknoid commented on #1040
​So right now, we have:

metric.Type
metric.InstanceParam

as opposed to having something like:

template.MetricType
template.MetricInstanceParam

I guess I prefer the first case, so I'm cancelling my request to rename
Template to XXX.
​

On Wed, Aug 9, 2017 at 1:06 PM, guptasu <notifications@github.com> wrote:

[2017-08-09 22:20] guptasu commented on #1040
Just to clarify, Replacing Template to XXX doe not require us to change metric.Instance, metric.Type and metric.InstanceParam -> myPkgName.MetricInstance, myPkgName.MetricType and myPkgName.MetricInstanceParam

Only if we want to support defining multiple templates within the same file (or even make it within the same dir/package with separate files), we will have to do the above prepending of XXX

[2017-08-09 22:34] geeknoid commented on #1040
@dougreid is our naming maven... Doug?

On Wed, Aug 9, 2017 at 3:21 PM, guptasu <notifications@github.com> wrote:

[2017-08-09 23:32] guptasu opened #1045 "We need to autogenerate an adapter that is noop for the new model"
When building the mixer, for all the supported templates, we need to create a noop adapter. This should be done dynamically via codegen.

@geeknoid : I think this won't be possible in 0.2

[2017-08-10 18:23] louiscryan opened #1049 "Attribute producing adapter based on Sets/Maps stored in CRDs"
@geeknoid @mandarjog @rshriram

The Mixer expression language is quite powerful but implementing large set membership or large keyspace maps would be extremely unwieldly. I think this would be a relatively cheap yet powerful feature to deliver in 0.2.

I propose we add:
- A standard CRD mechanism for defining large sets and maps (with types?)
- Standard namespace ACL controls for writing these map

[2017-08-10 18:28] louiscryan commented on #1049
@timothyhinrichs did you guys provide any in-language mechanisms for large sets/maps in OPA or was the intent to handle this out-of-band using extensions points like what I described above. Would be good to be lined up on this.

@tristonianjones largely same question based on Firebase experience ?

[2017-08-10 18:30] ZackButcher commented on #1049
We have part of what we need for this today: the [generic list checker](https://github.com/istio/mixer/tree/master/adapter/genericListChecker) takes a map from its configuration and checks that the result of an expression is in its set (or not in it, for blacklists).

If we push Mixer config into CRDs (AFIAK @jmuk is working on this now) then technically we can do this as soon as Mixer CRDs land,

[2017-08-10 18:31] ZackButcher commented on #1049
I've wanted to create a generic map-producing Attributes adapter for a while as I think it's generally useful. Such an adapter doesn't exist today and could be used to help solve this case too.

[2017-08-10 18:33] louiscryan commented on #1049
I think list checker might be a little too constraining as it couples the
value lookup to the behavior in a limiting way. i.e. can't use a predicate
expression that combines the value of the lookup with other attributes in
the context.

On Thu, Aug 10, 2017 at 11:31 AM, Zack <notifications@github.com> wrote:

[2017-08-10 18:34] kyessenov commented on #1049
OPA does more than storing sets with datalog-style reasoning. Can Mixer do a join operation across two tables?

[2017-08-10 19:47] kyessenov commented on #1049
I think Mixer already materializes all data sources. This is really a database problem, and can be improved as we get to larger scale and need multi-level caching.

[2017-08-10 19:56] geeknoid commented on #1049
Mixer 0.2 is pretty much locked down, we still have a number of things to
deliver. So let's talk about this in the context of 0.3. This will give us
more time to design this feature properly.

On Thu, Aug 10, 2017 at 12:47 PM, Kuat <notifications@github.com> wrote:

[2017-08-10 20:33] louiscryan commented on #1049
Happy to treat as '3rd party' extension while we work this out

[2017-08-10 22:17] mandarjog opened #1050 "Check adapters should be capable of returning data in addition to status"
Check adapters that do credential validation will need to send data back to the proxy in addition to status.

1. Change CheckYYY() method signature to return an attributeBag
2. Update codegen to generate calls the new signature.

[2017-08-10 22:43] guptasu commented on #950
FYI @geeknoid
Also think about if we can get rid of BuilderInfo.Name and just use the data from the build rule

[2017-08-11 00:02] guptasu commented on #1040
@douglas-reid, @douglas-reid , @ZackButcher @mandarjog  : in this bug there are two things proposed:
1. in a template file, move proto option within the message instead of file level.
2. Renaming the fix message name 'Template' -> allowing Any message user wants. This enables multi template scenario. But requires modifying some of the artifacts we create (details of what names will change is in my

[2017-08-11 00:05] guptasu opened #1051 "The adapter check interface should not take []instance"
The current interface for Check variety template takes [] instances. Should this just be a single instance ?

Based on an offline chat it was agreed that for check we do single instance and only for report we do array of instances. @geeknoid any concerns ?

[2017-08-11 00:07] geeknoid commented on #1051
No concern, we should in fact not pass arrays in here .

[2017-08-11 02:33] geeknoid commented on #1040
Can we do 1 and only partially do 2? Specifically, move the proto options
to be message-based rather than file-based, and use the message name as the
template's name, rather than needing a distinct option for this.

We can keep for later the ability to house multiple templates in one
package.

On Thu, Aug 10, 2017 at 5:02 PM, guptasu <notifications@github.com> wrote:

[2017-08-11 12:28] geeknoid commented on #1050
I think while discussing this previously I confused myself on this topic. I don't think we want Check adapters to do this, only APAs.

APAs can generate attributes which Mixer should return upon completion of a request. What we're missing now is a mechanism to let Mixer know which attributes should in fact be returned.

[2017-08-11 12:30] geeknoid opened #1054 "Rename BuilderInfo"
I think we should rename adapter.BuilderInfo to adapter.Info and rename GetBuilderInfo to GetAdapterInfo.

The struct is really about describing what an adapter is for, which is the package as a whole. A builder is just a type we use within an adapter.

[2017-08-11 12:38] geeknoid opened #1055 "BuilderInfo.CreateHandlerBuilderFn vs ValidateConfig"
One function pointer field has an Fn suffix, one doesn't. We should be consistent. Let's check the Go conventions to see if there's a preference and stick to it consistently.

[2017-08-11 12:45] geeknoid opened #1056 "Template names need to be fully-qualified"
Right now, the generated TemplateName constant looks like:

const TemplateName = "reportnothing.ReportNothing"

It needs to include the full repo path:

const TemplateName = "istio.io/mixer/template/reportnothing/ReportNothing"

This would be consistent with how we're naming adapters.

@douglas-reid for reference

[2017-08-11 13:20] geeknoid opened #1057 "Simplify generated symbol names"
Right now, for the checknothing template, we are generating the interfaces:

checknothing.CheckNothingHandlerBuilder
checknothing.CheckNothingHandler

I think we can drop the CheckNothing prefix on those interface names. We need to keep the prefix on the methods within these interfaces to overcome Go's limitations, but the Go limitations don't impact those interface names since we quality these by

[2017-08-11 13:34] geeknoid opened #1058 "Generate a skeleton adapter for every template type."
We should auto-generate a skeleton adapter suitable to bootstrap the implementation of any template type.

[2017-08-11 14:21] guptasu commented on #1058
Is this a dupe of https://github.com/istio/mixer/issues/1045, Or you are referring to something else ?

[2017-08-11 14:35] geeknoid commented on #1058
Nope, this is different.

#1045 is about generating a single functioning noop adapter that can handle all templates we know about.

This is about generating a to-be-filled-in adapter skeleton that a developer can use to bootstrap work on an adapter that implements a particular template.

[2017-08-11 14:43] guptasu commented on #1058
I see.. really cool idea.

[2017-08-11 14:48] geeknoid opened #1060 "Quota handler method doesn't need a QuotaResult"
Given the fact a quota handler method already returns a CachaebilityInfo, it doesn't need to also return a QuotaResult, since both structs contain the same info. So let's nuke the QuotaResult value.

[2017-08-11 14:55] guptasu commented on #1060
is the Amount (total number of quota returned) same as
// ValidUseCount represent the number of uses for which this result can be considered valid.
ValidUseCount int64

Though the description we have seems slightly different, but it seems they both are for representing how much pre assigned quota is granted.

Am I right ? Then, I agree, we can nuke the QuotaResult

[2017-08-11 15:00] TristonianJones commented on #1049
Apologies for the late reply. Maps and lists with a limited number of entries are typically handled within code, but for larger datasets (say > 500 entries), Firebase prefers an extension that permits policy writers to query the database for the portion of the dataset required to answer the question.

The reasoning for the extension based approach is two-fold:
-  Large datasets written inline in a

[2017-08-11 15:04] guptasu commented on #1057
Unfortunately, if we want to support multiple templates in the same package, we will  need to keep the prefix on the interface, on the methods as well as on the types we create.
@douglas-reid

[2017-08-11 15:50] geeknoid opened #1061 "Auto-generate denial checker"
We should auto-generate the denial adapter based on known templates. It should implement all CHECK and QUOTA templates and always return the configured failure.

[2017-08-11 16:14] geeknoid commented on #1060
Yep, exactly.

On Fri, Aug 11, 2017 at 7:55 AM, guptasu <notifications@github.com> wrote:

[2017-08-11 17:02] guptasu commented on #1054
I remember having it as Info first but unfortunately applicationLog already have has an Info field https://github.com/istio/mixer/blob/master/pkg/adapter/applicationLogs.go#L73

[2017-08-11 17:30] mvle opened #1063 "aspect List checkExpression does not take source.ip"
checkExpression should take a string, but when tested with source.ip attribute, get an error:

rules:
- aspects:
  - kind: lists
    adapter: ipList
    params:
      blacklist: true
      checkExpression: source.ip

I get the following error:
Error: failed rule creation with status 400: 2 errors occurred:
* serviceConfig: failed validation
* /:lists[0]: failed to parse params: 1 error occurred:
*

[2017-08-11 17:54] guptasu commented on #1060
So, if we remove the QuotaResult, it feels weird where the response of the QuotaCheck is..
the signature will now look:
[code]

And the information if the quota check passed or failed will be inside CacheabilityInfo..  Seems awkward.

[2017-08-11 17:54] ZackButcher commented on #1063
The issue here is that the type of the IP List Checker input is `ValueType.STRING`, [which is checked here](https://github.com/istio/mixer/blob/master/pkg/aspect/listsManager.go#L78). The easiest fix would be to update that code to check for [any of these ValueTypes](https://github.com/istio/api/blob/98f8bfa16202f54afaa4d89d50a95e995fc2eb0c/mixer/v1/config/descriptor/value_type.proto#L43-L52) in a

[2017-08-11 18:09] geeknoid commented on #1054
Hmmm. That's a temporary problem. We'll soon delete that type and then the
name will be available.

On Fri, Aug 11, 2017 at 10:02 AM, guptasu <notifications@github.com> wrote:

[2017-08-11 21:20] spikecurtis commented on #1049
@louiscryan I'm happy to work on this.

I'll start with a bit of prototyping, but follow up with a design doc to circ before I go whole hog.

[2017-08-11 22:57] guptasu opened #1066 "template codegen need to use the go_package name"
Codegen is not piping the go_package name to the augmented proto and not using it to create the generated code. Need to fix that.

@geeknoid @douglas-reid FYI

[2017-08-11 23:22] guptasu commented on #917
partially done.. the wiring will be done by @mandarjog new adapterManager

[2017-08-11 23:22] #917 closed

[2017-08-11 23:22] guptasu commented on #923
Done

[2017-08-11 23:22] #923 closed

[2017-08-11 23:23] guptasu commented on #1054
Done

[2017-08-11 23:23] #1054 closed

[2017-08-11 23:23] guptasu commented on #1055
Done

[2017-08-11 23:23] #1055 closed

[2017-08-11 23:24] guptasu commented on #1057
Done

[2017-08-11 23:24] #1057 closed

[2017-08-11 23:24] guptasu commented on #1056
Done

[2017-08-11 23:24] #1056 closed

[2017-08-11 23:24] guptasu commented on #1051
Done

[2017-08-11 23:24] #1051 closed

[2017-08-11 23:25] guptasu commented on #1040
No change needed we will stick with the current model as discussed offline.

[2017-08-11 23:25] #1040 closed

[2017-08-11 23:27] guptasu commented on #1031
Discussed offline. We are not supporting this feature since is it not a mainline scenario.

[2017-08-11 23:27] #1031 closed

[2017-08-11 23:36] guptasu commented on #950
@douglas-reid in case you get a change to look into this and if this is blocking your build work, feel free to pick this up. I will probably get to this one next to next week

[2017-08-11 23:38] guptasu commented on #1006
@geeknoid @mandarjog @douglas-reid @ZackButcher  This is a 0.2 item, I will probably need help in with this task. Not sure if I will be able to get to this on time. Feel free to pick this if someone has cycles.

[2017-08-11 23:42] guptasu opened #1067 "Pass context object into the adapters"
We need to pass the context object into the adapters

[2017-08-12 10:38] guptasu opened #1068 "Enforce the short name of the template is unique."
Current implementation looks at the long name of the template and enforces uniqueness. We need to just use the short name to validate uniqueness of the template based on the offline discussion with the team.

@mandarjog @geeknoid : This still to me feels a bit weird. Uniqueness in short name (which make up the public facing methods is really hard). If Metric is taken, I will have to name Metric to

[2017-08-12 13:50] geeknoid opened #1070 "BuilderInfo.ValidateConfig needs an updated signature"
The signature of the BuilderInfo.ValidateConfig method needs to match the signature of the validation function in the old adapter model:

		ValidateConfig(c Config) *ConfigErrors

[2017-08-12 15:06] guptasu commented on #1070
Once the current rename pr finishes, will change this signature.

[2017-08-14 17:00] torin-styra commented on #1049
@louisryan yes, you can load arbitrary attributes into OPA and then refer to them in policies/queries.

Currently the data is stored using native Go types (e.g., maps, slices, etc). This has been benchmarked on a container scheduling use case where the data set was in the 100s of MBs. We have plans to optimize the storage format in the future, e.g., with string de-duplication, better number encodi

[2017-08-14 17:10] louiscryan commented on #1049
thanks @spikecurtis for picking up the baton

[2017-08-14 20:27] ZackButcher opened #1075 "Support reporting errors in daemons/go routines started by adapters"
We expect adapter authors to use [`adapter.Env`](https://github.com/istio/mixer/blob/master/pkg/adapter/adapter.go#L66-L95) to start any go routines, including long-lived "daemon" go routines. However, we have no way for these jobs to return errors. We need to build out a way to communicate errors to the Mixer framework.

[2017-08-14 20:28] ZackButcher commented on #1075
A likely solution is to have a `<-chan error` embedded in the `Env` that can be used to push errors in go routines/daemons upstream. From there Mixer framework can use those values to make decisions.

[2017-08-14 22:55] ZackButcher opened #1078 "Replace bin/linters.sh"
This script has a lot of logic dealing with last commit and other things, the end result of which is that running it locally on a dev box _never_ matches the results of running linters on our prow presubmit. We need to replace all the logic in it with a simple "run gometalinter with these linters on these packages".

The pain in transition will be going back to fix all the lint errors that result.

[2017-08-15 20:23] guptasu commented on #1070
DONE

[2017-08-15 20:23] #1070 closed

[2017-08-15 20:23] guptasu commented on #1067
DONE

[2017-08-15 20:23] #1067 closed

[2017-08-15 20:24] guptasu commented on #1060
I think the signature is mostly final now. Changes described in the issues are done IMO.

[2017-08-15 20:24] #1060 closed

[2017-08-16 16:32] guptasu opened #1084 "The adapter ValidateConfig and Build methods should take adapter.Config instead of proto.Message"
@geeknoid FYI

[2017-08-16 21:33] geeknoid opened #1085 "Introduce an IPList template"
We should introduce an IPList template that enables the list adapter to consume IP addresses directly.

[2017-08-16 21:34] geeknoid commented on #1063
Open #1085 to track this feature request in the context of the new Mixer adapter model.

[2017-08-16 21:34] #1063 closed

[2017-08-16 22:40] sakshigoel12 commented on #921
Please add an owner for this issue

[2017-08-16 22:48] geeknoid commented on #1075
How do you expect errors from daemons to be used by Mixer? Seems very adapter-specific behavior, doesn't it?

[2017-08-16 22:50] geeknoid commented on #1050
We don't want this feature, until proven otherwise. Feel free to reopen when we have a compelling scenario in hand.

[2017-08-16 22:50] #1050 closed

[2017-08-16 22:53] geeknoid commented on #1049
We're having a discussion in the forums on the general idea of adapters reading CRDs. I am fairly strongly convinced that this would be a substantial architectural mistake.

https://groups.google.com/d/msg/istio-security/4nR-qQhtPKY/cVU9C41aBAAJ

[2017-08-16 22:57] geeknoid opened #1086 "Extend the noop adapter to be usable as a "spy" adapter"
The noop adapter be extended to be useful as a general-purpose testing adapter. If we aggregate the information that reaches the adapter and make it available through an API, it then becomes possible to use this adapter in many test scenarios.

When we do this, we can probably rename noop to testing.

[2017-08-16 23:00] geeknoid commented on #1034
The current split is necessary in order to enable adapters that require config-time setup to work properly. Adapters that don't need this don't need to do anything special. Adapters for which connection establishment is a big deal can manage these connections themselves at the level of the builder. They can share/reuse connections as necessary.

I think the only thing we need to do is introduce a

[2017-08-16 23:00] #1034 closed

[2017-08-16 23:02] ZackButcher commented on #1075
AFAIK we're planning on eventually supporting more sophisticated things like removing adapters that are causing errors automatically, right? If so, we want errors from go routines/daemons that the adapter starts to feed into that system as well, not just the runtime return errors.

[2017-08-16 23:22] geeknoid commented on #1034
Sunny and I just had an additional conversation on this front. We decided the right approach here is to leave things the way they are.

If an adapter finds it problematic to teardown & reestablish connections when handlers are created and deleted, then the adapter can itself implement a global connection cache that it manages internally. We don't need to be involved in that process at all.

We pro

[2017-08-16 23:24] geeknoid commented on #1000
I think this is all done, please reopen if needed.

[2017-08-16 23:24] #1000 closed

[2017-08-16 23:27] geeknoid commented on #995
This is adding // import XXX for all packages, right?

[2017-08-16 23:29] geeknoid commented on #1032
I don't think we want Mixer to have a direct dependency on the config map. Can this be handled through the normal config flow instead?

[2017-08-16 23:37] geeknoid commented on #965
@douglas-reid Should we close this issue?

[2017-08-16 23:44] ZackButcher commented on #1032
It'll require rewriting a bit of code - we wire up the tracer in cmd/server/server.go right now, but it is possible.

[2017-08-16 23:44] geeknoid commented on #1018
Can this be closed?

[2017-08-16 23:45] geeknoid commented on #919
Done

[2017-08-16 23:45] #919 closed

[2017-08-16 23:47] geeknoid commented on #842
The initial PoC has been done. We can open different issues to track individual features for 0.3

[2017-08-16 23:47] #842 closed

[2017-08-16 23:49] geeknoid commented on #924
Is this really a P0 for 0.2? We won't ship 0.2 unless this is done?

[2017-08-16 23:59] guptasu commented on #1018
Yes. I was thinking this bug also refers to fixing the gogo annotation stuff for datatime and duration. But there is a separate bug for that https://github.com/istio/mixer/issues/1029

Closing this

[2017-08-16 23:59] #1018 closed

[2017-08-17 00:01] rkpagadala commented on #924
That is the plan

[2017-08-17 00:07] geeknoid commented on #997
All templates are in for 0.2

[2017-08-17 00:07] #997 closed

[2017-08-17 00:08] geeknoid commented on #820
Env comes in at build time, that's what we want. So Closing.

[2017-08-17 00:08] #820 closed

[2017-08-17 00:09] geeknoid commented on #840
Done.

[2017-08-17 00:09] #840 closed

[2017-08-17 00:17] geeknoid commented on #760
Given the new adapter model, we need to push the Status produced by individual adapters up to the Mixer API and return some combination of them to the caller for diagnostics.

[2017-08-17 00:19] geeknoid commented on #803
Can this be closed?

[2017-08-17 00:24] geeknoid commented on #696
Deemed impossible due to the fact adapters don't have a rich enough API surface.

[2017-08-17 00:24] #696 closed

[2017-08-17 00:24] #698 closed

[2017-08-17 01:29] costinm commented on #924
I think the real blocker is sidecar -> pilot, since certs and configs that
may bypass cert are sent.

As long as mixer is not used to enforce auth policies - IMHO it is slightly
lower priority, but I'm not
clear how much damage can be done by a malicious mixer. I suspect a bit
less than a malicious
pilot.

On Wed, Aug 16, 2017 at 5:01 PM, Krishna Pagadala <notifications@github.com>
wrote:

[2017-08-17 01:46] sakshigoel12 commented on #918
Please update assignee!

[2017-08-17 03:02] #697 closed

[2017-08-17 03:02] #699 closed

[2017-08-17 03:03] #700 closed

[2017-08-17 03:03] #701 closed

[2017-08-17 03:03] #702 closed

[2017-08-17 03:03] #703 closed

[2017-08-17 03:03] #704 closed

[2017-08-17 03:04] #705 closed

[2017-08-17 03:11] geeknoid commented on #181
Keep for now.

[2017-08-17 03:11] #181 closed

[2017-08-17 03:12] #365 closed

[2017-08-17 03:14] geeknoid commented on #201
Addressed by new adapter model.

[2017-08-17 03:14] #201 closed

[2017-08-17 03:15] #426 closed

[2017-08-17 03:16] geeknoid commented on #337
No longer relevant with new adapter model.

[2017-08-17 03:16] #337 closed

[2017-08-17 03:18] geeknoid commented on #204
Addressed by new adapter model.

[2017-08-17 03:18] #204 closed

[2017-08-17 03:19] geeknoid commented on #260
Addressed by new adapter model.

[2017-08-17 03:19] #260 closed

[2017-08-17 03:20] geeknoid commented on #179
Addressed by new adapter model.

[2017-08-17 03:20] #179 closed

[2017-08-17 03:20] geeknoid commented on #119
Is this addressed by the new adapter manager logic?

[2017-08-17 03:22] geeknoid commented on #543
Addressed by new adapter model.

[2017-08-17 03:22] #543 closed

[2017-08-17 03:22] geeknoid commented on #515
Zack, should we close this given the new adapter model?

[2017-08-17 03:23] geeknoid commented on #544
Irrelevant given current config story.

[2017-08-17 03:23] #544 closed

[2017-08-17 03:24] geeknoid commented on #550
Addressed by new adapter model.

[2017-08-17 03:24] #550 closed

[2017-08-17 03:24] geeknoid commented on #560
Addressed by new adapter model.

[2017-08-17 03:24] #560 closed

[2017-08-17 03:25] geeknoid commented on #638
Addressed by new adapter model.

[2017-08-17 03:25] #638 closed

[2017-08-17 03:25] geeknoid commented on #662
Addressed by new denier adapter.

[2017-08-17 03:25] #662 closed

[2017-08-17 03:26] geeknoid commented on #672
Doug, is this still relevant?

[2017-08-17 03:30] geeknoid commented on #768
Is this issue still relevant? Any new info? Should this be moved to 0.3?

[2017-08-17 03:49] douglas-reid commented on #768
It is still relevant, but can be done in separately from everything else. Like a p2.

[2017-08-17 04:16] mandarjog opened #1089 "Mixer logging should use a request-id to prefix log statements"
Mixer uses glog for logging.
It would be useful if we could follow equivalent of trace root span in the log files.
There are several alternatives, envoy injects a X-transaction-id header, which can be used to identify a request istio wide.

Mixer could also generate a request UUID or use one that is available from the grpc Server.

[2017-08-17 06:28] mandarjog opened #1090 "Mixer action gradual rollout using traffic split"
There are multiple ways of performing staged configuration rollout.
One such way is to schmatize "gradual" as a primitive in Mixer configuration schema.

This approach uses traffic splitting similar to Istio-RouteRule traffic splitting via weights.
Mixer action should support similar traffic split.

There are 3 scenarios.
1. Operator is introducing a whole new `Rule`  https://github.com/istio/api/

[2017-08-17 08:47] douglas-reid commented on #1089
is that transaction header available for non-HTTP traffic as well?

[2017-08-17 13:38] geeknoid commented on #1075
Hmmm. I think we'll deal specifically with adapters that crash, not those that merely return errors. In that context, by forcing adapters to use Env for scheduling goroutines, we already have the protection in place for us to detect failures in adapter goroutines and handle them appropriately.

So I think we've got all the support we need/want already.

[2017-08-17 14:16] geeknoid opened #1092 "Delete all the legacy code & types"
Once we've deleted all legacy adapters, we need to systematically purge the Mixer codebase from all legacy code/types/etc. We also have a few things to rename (adapter.BuilderInfo -> adapter.Info among them)

[2017-08-17 14:21] #649 closed

[2017-08-17 14:22] geeknoid opened #1093 "Port the serviceControl adapter to the new model."

[2017-08-17 15:57] sebastienvas commented on #276
We removed date + build as it is impossible to map back to a commit. latest as some issue so at the end we have
SHA for CI build and X.Y.Z for release.
Dev build are created in gcr.io/istio-testing, Release are created in docker.io/istio

[2017-08-17 15:57] #276 closed

[2017-08-17 16:17] spikecurtis commented on #924
Auth policy in Mixer is pretty nascent for 0.2, but still present and usable.

[2017-08-17 17:09] ZackButcher commented on #515
Yes, per new adapter model, defining principles/MRs should be the domain of the adapter. The hard part is that those objects likely require evaluating additional expressions at runtime, but adapters don't have a way to request evaluation other than at the constructor/instance level.

This could be solved via Attributes adapters, but forcing double configuration or writing two adapters sucks. I thi

[2017-08-17 17:15] douglas-reid commented on #515
We still have the option of creating a new template that has a MR and/or Principle submessage, right?

Also, instead of a new adapter, you might consider having an adapter that needs MRs be both an Attributes adapter and a Report adapter. That /was/ previously possible (and might allow you to work around trying pass state through attributes).

[2017-08-17 17:20] geeknoid commented on #924
This doesn't sound like a P0 to me. We wouldn't block the 0.2 release if
this feature is not complete.

On Thu, Aug 17, 2017 at 9:17 AM, Spike Curtis <notifications@github.com>
wrote:

[2017-08-17 17:22] ZackButcher commented on #515
Adapters should be able to be both, but the gain there is minimal compares to just having two separate adapters, I think: you still need to configure both the attributes half of the adapter and the half consuming the MRs/principles. At that point I don't think you're saving any config, maybe just an `adapter` stanza.

[2017-08-17 17:24] ZackButcher commented on #515
With the advantage that if its separate then their output could be depended on by many different adapter impls, where if e.g. Stackdriver was an Attributes adapter producing its MRs, I wouldn't want to depend on those MRs in any other adapter.

[2017-08-17 17:28] douglas-reid commented on #515
It seems to me that if MRs are going to be used by other adapters, and depend on attribute expressions, they should be part of a template (or reused in multiple templates).

But if they are only going to be used in SD, creating a shortcut _might_ be easier than passing around a string_map attribute or whatever.

[2017-08-17 17:39] ZackButcher commented on #515
I guess my argument boils down to: I think an Attributes adapter producing e.g. a STRING_MAP from a set of expressions at runtime is generally useful, even outside of the scope of MRs/Principals, and it can then be used to implement supplying MRs at runtime.

[2017-08-17 18:03] ZackButcher opened #1095 "Implement the gRPC healthcheck service"
[gRPC defines a standard healthcheck service](https://github.com/grpc/grpc/blob/master/doc/health-checking.md). Mixer should expose this for use in k8s health checking.

[2017-08-17 18:03] geeknoid commented on #515
As a side-note, we should always keep in mind that we can extend the
attribute type system if we need to. We can enable attributes to carry
richer types if we want.

On Thu, Aug 17, 2017 at 10:39 AM, Zack Butcher <notifications@github.com>
wrote:

[2017-08-17 18:20] douglas-reid commented on #515
Having an APA producing a STRING_MAP is totally fine.  But there is nothing that needs to be done to support that other than writing adapters that produce STRING_MAP -- the functionality already exists.

There still remains the issue of how to pass the derived attribute back in via constructor. Would this new attribute be a 'dimension' on the Instance?  Or would we make it a new field in the templ

[2017-08-17 18:37] ZackButcher commented on #1095
This is a perfect beginner project for anyone looking to start contributing to Mixer. It's entirely self contained, and should be implementable relatively easily.

[2017-08-17 21:06] rkpagadala commented on #924
After discussion, changing to P1

[2017-08-17 21:09] danehans opened #1096 "bazel_to_go failure"
I am following the [dev guide](https://github.com/istio/istio/blob/master/devel/README.md) and I see [this](https://gist.githubusercontent.com/danehans/425a449e9d2d77e09e5345e29fb2e380/raw/faa71556a2b3d59ee44b549b5f482bdadd413d1a/bazel_to_go_issue) error when running `$ ./bin/bazel_to_go.py`.

[2017-08-17 21:28] danehans commented on #1096
[code]

[2017-08-17 21:52] danehans commented on #1096
Closed due to user error. I did not include `//...` in my bazel build|test commands.

[2017-08-17 21:52] #1096 closed

[2017-08-18 04:39] costinm commented on #924
Thanks - IMHO we can make it a P0 for 0.3 or 0.4 ( wherever we land 'not on
the same VPC/VPN' ).
The work on adding a  sidecar for pilot should be applicable for sidecar to
mixer - as well
as mixer to other backends.

On Thu, Aug 17, 2017 at 2:06 PM, Krishna Pagadala <notifications@github.com>
wrote:

[2017-08-18 18:40] ZackButcher commented on #1049
`Check` returns a thumbs up when no actions match.

[2017-08-18 18:46] mandarjog opened #1099 "Consider promoting well known http headers to attributes"
Mixer configuration system enforces type safety at config ingestion time.
The effectiveness of the type checks depend on having typed attributes.
Isio vocabulary defines a set of typed attributes.

However request.header ( `map <string, string>` ) contains a lot of information in untyped, string form. This compromises the effectiveness of the type system.

Consider promoting headers to typed attri

[2017-08-18 18:56] kyessenov commented on #1099
These are loose web standards. What happens if the headers are mal-typed.

[2017-08-18 18:57] mandarjog opened #1100 "Lazily evaluation of attributes: attributes as functions."
Mixer attributes today are all materialized when they are defined. This is specifically the case where an attribute is the result of evaluation of a function, like in case of an attribute producing adapter.

There are certain interesting features that are possible using this approach.
For example consider the following definition of `request.XForwardedHost`

[code]
In this case the attribute will

[2017-08-18 19:19] guptasu opened #1101 "Codegen Template variety in the generated go code that has the interfaces definitions"
Adapter developers mainly just look at the documentation associated with the generated interface in the generated go file. Consider having a constant or a Comment generated in that file that describes the template variety associated with the mesh function. Otherwise it is tricky for Adapter developer to know a particular mesh function is a CHECK/REPORT/QUOTA kind. They will have to look at the pro

[2017-08-18 19:27] geeknoid commented on #1101
I think this is a reasonable addition, it can't hurt.

On a related topic, given an adapter, how do we expect an operator to know the kind of instance to send to this adapter? Does the adapter doc simply point to the repo location of the template?

[2017-08-18 19:36] guptasu commented on #1101
@geeknoid What mesh functions an adapter supports are runtime concepts. I would imagine, exactly what you proposed, every adapter to have a README.md that lists at the top of its doc directory locations of all the mesh functions it's implementation supports.

The overall discovery story will be based on directory location and README.md in those directories.
- mixs lists all the directories for ada

[2017-08-18 19:49] mandarjog opened #1102 "Consider checking in template generated code"
Mixer2 adapter model defines templates in form of protos.
Mixer-Bazel codegen processes the templates to produce other protos and go code.

It is very convenient for an adapter developer to have the generated template artifacts in a repository to browse without needing to run codegen.

This could be checked into mixer or a separate templates repo.

[2017-08-18 19:49] mandarjog commented on #1102
@douglas-reid @kyessenov

[2017-08-18 22:34] geeknoid opened #1104 "Consider extending the Metric template to have an explicit timestamp field"
As you port metric adapters, please decide whether we should have a timestamp field in the Metric template.

Note of course that our template format doesn't yet support timestamps, but Sunny will be adding this RSN. @guptasu

[2017-08-18 22:37] sebastienvas opened #1105 "Migrate mixer-pilot-regression to Prow"
Current job is defined for Jenkins and needs to be migrated to Prow to be able to terminate Jenkins instance

[2017-08-18 22:56] guptasu commented on #950
@douglas-reid  has already implemented this tool. Thanks Doug

[2017-08-18 22:56] #950 closed

[2017-08-18 22:57] guptasu commented on #803
I think we can punt it for 0.3 to see if we want to revisit our existing model.

[2017-08-18 23:03] guptasu commented on #834
@geeknoid @manlinl is working on this, right ?

[2017-08-18 23:06] guptasu commented on #1102
@mandarjog can the solution to this issue be: Adapter developer build the mixer and then runs ./bin/bazel_to_go.py ? After this the generated code will all show up in the right directory as symlinks

Thoughts ?

[2017-08-19 00:22] geeknoid commented on #834
Yes, but until he accepts the invitation I sent from GitHub for him to join
the team, I can't assign the issue to him.

On Fri, Aug 18, 2017 at 4:03 PM, guptasu <notifications@github.com> wrote:

[2017-08-19 16:24] swade1987 commented on #1095
@ZackButcher I'd love to take this one.

[2017-08-20 12:22] geeknoid opened #1110 "Consider extending the LogEntry template to have a Message field"
Right now, the LogEntry template looks like:

[code]

I think it would be a good thing to add a Message field in here which would be filled in by the operator when defining instances. The variables generally come from the attributes, the message comes from the operator.

[code]

@ZackButcher @douglas-reid WDYT?

[2017-08-21 02:27] mandarjog opened #1112 "Create mixer command to generate CRD definitions"
`map[string]*adapter.BuilderInfo` and  `templateInfo map[string]template.Info` should be used to create CRD definitions.

pr #1111 initializes `adapter.BuilderInfo` with a dns1023 compatible shortName.

For example this is how denier CRD should look like where
[code]

[code]

in case of mesh functions (instances) it is adapter.Info.Name and impl is HndlrInterfaceName.
istio label is set to mixer-i

[2017-08-21 02:28] mandarjog commented on #1112
@jmuk @guptasu templates will have compatible names already.

[2017-08-21 07:11] gyliu513 opened #1113 "`make fmt` failed."
[code]

[2017-08-21 10:11] gyliu513 opened #1116 "`make test` failed after run `bin/gazelle`"
After run `bin/gazelle`, then `make test`, some cases will be failed.

[code]

Then run `make test`, failed for some cases.

[code]

[2017-08-21 14:11] gyliu513 commented on #1116
@geeknoid any comments for this? Thanks.

[2017-08-21 16:43] ZackButcher commented on #1110
What's the use case for the message field?

[2017-08-21 18:17] guptasu commented on #1112
@mandarjog is this for 0.2 and it is assigned to me to address this issue ? Just checking.. I will need more context on what we are trying to do.

[2017-08-21 18:28] mandarjog commented on #1112
@guptasu we want to run a mixer command to generate CRDs for all compiled configuration types for that mixer build. [ all mesh function configs, and all adapter configs ]
We will run `kubectl create -f mixer_crds.yml` to create these definitions.

[2017-08-21 23:04] guptasu commented on #1112
@mandarjog so the command on mixs can look like:
mixs --out_crd <outputFileName>

So, I understand that for adapters the CRD template looks like the one you showed above. What is the CRD template for Mesh functions, do you have an example for that ?
Also, is there any place in the adapter CRD where we can print the supported mesh function names ? I will be really useful for operators ?

[2017-08-22 01:38] gyliu513 commented on #1113
This is being handled in #1109

[2017-08-22 01:44] gyliu513 commented on #1113
#1109 is merged and `make fmt` works fine.

[2017-08-22 01:44] #1113 closed

[2017-08-22 03:45] mandarjog opened #1117 "CRD Store.Init() should not return error for retryable conditions"
CRD Store.Init() should not return error for retryable conditions.

If store is unable to watch for a "kind" it should continue to wait for a long time, and even after the timeout, it should wait to register the watch in the background.

Everything is eventually consistent, so Init should not throw an error.

[2017-08-22 04:25] geeknoid commented on #1110
Yeah, never mind...

[2017-08-22 04:25] #1110 closed

[2017-08-22 11:06] geeknoid commented on #1116
I just tried this locally, and it appears as though gazelle decided that the new adapters are useless and took them all out of adapter/BUILD. Gazelle must be getting confused. I don't know anything about gazelle though, not sure who does.

[2017-08-22 16:33] guptasu opened #1119 "Should we require adapters to implement HandlerBuilder's ConfigureXXX methods"
Question is:
1. Should we pass the inferred types information during request time ?
2. If we keep the current model of having ConfigureXXX mtd on HandlerBuidler, should we require every adapter to implement it ?

**Discussion around :1**
@Zack
_just cache the state once, it lives for the life of the handler
the basic thought is that we hand the shapes in to the runtime methods, so they're usable i

[2017-08-23 07:58] guptasu opened #1126 "Renames in Mixer before 0.2"
Let's use this issue for tracking what things we need to rename immediately after we delete old model code:
1. BuilderInfo - > Info
2. noop2 -> noop
3. QuotaRequestArgs - > QuotaArgs
4. QuotaResult2 - > QuotaResult
5. inventory2 -  > inventory

what else ? @geeknoid @mandarjog @ZackButcher @douglas-reid

[2017-08-23 16:56] guptasu commented on #1029
The scope of this bug for 0.2 is only to support datetime and duration types from proto.

[2017-08-23 19:25] geeknoid commented on #1126
I think we'll also have:

memquota2 -> memquota
redisquota2 -> redisquota

[2017-08-23 19:30] ZackButcher commented on #1126
All of the metrics adapters too: prometheus2, statsd2, stackdriver2.

[2017-08-23 19:40] guptasu commented on #1126
in the config.proto we have action_rules.. that needs to be renamed to rules as well.

[2017-08-23 19:46] kyessenov commented on #1126
The big one: target -> destination.

On Wed, Aug 23, 2017 at 12:40 PM guptasu <notifications@github.com> wrote:

[2017-08-23 22:54] jmuk commented on #1116
This was fixed by #1124

[2017-08-23 22:54] #1116 closed

[2017-08-23 22:59] jmuk commented on #1116
(by the way I believe this is a bug of Gazelle, reported as https://github.com/bazelbuild/rules_go/issues/744)

[2017-08-23 23:59] guptasu commented on #1084
DONE

[2017-08-23 23:59] #1084 closed

[2017-08-24 13:33] geeknoid commented on #1119
As the comment thread shows, I'm opposed to the notion of passing config-time info into the runtime methods.

I am in favor however of not requiring adapters to implement the ConfigureXXX methods if they are not needed. I don't think we need any special protection to prevent misspellings. If the adapter developer writes this call and needs it to get the adapter working, they will figure out their

[2017-08-24 19:48] guptasu commented on #1119
@geeknoid @mandarjog  I am not sure if operator will be happy seeing this warning in his Mixer build every time he builds -> runs a mixer. Adapter developer did the right thing of not implementing what he does not need, but the operator has to feel the pain.

Anyways, whichever rout we go, do you guys think, we can live with the need to define the ConfigureXXXX mtd. We can relax this need post 0.2

[2017-08-24 19:54] geeknoid commented on #1119
The log message can be limited to V(2) level.

On Thu, Aug 24, 2017 at 12:48 PM, guptasu <notifications@github.com> wrote:

[2017-08-24 20:40] ZackButcher opened #1132 "Make the new adapter interface consistent"
Today we have these two methods:

[code]

We should be consistent: either `foo.Type` needs a `Name` field and we change the signature of `ConfigureFooHandler` to `ConfigureFooHandler(foos []*foo.Type) error`, or we need to pull the `Name` field out of `foo.Instance` and change `HandleFoo` to `HandleFoo(context.Context, map[string]*foo.Instance)`. As-is the asymmetry feels inconsistent.

cc @guptas

[2017-08-24 20:40] mandarjog opened #1133 "CheckResults.ValidUseCount should match CheckResponse.Precondition.ValidUseCount"
CheckResults.ValidUseCount is received from the dispatcher and it is mapped into CheckResponse.Precondition.ValidUseCount.

Both of them should be the same type, int32.

[2017-08-24 23:36] mandarjog opened #1138 "Add prometheus metrics for pkg/runtime"
1. Number of config loads.
2. Number of errors per load.
3. Number of rules in the rules set.
4. Number of handlers in the config.

[2017-08-24 23:39] mandarjog opened #1139 "Expose runtime config snapshot thru status api"
Mixer should provide a runtime config snapshot thru the status API.

[2017-08-25 12:24] geeknoid commented on #1132
The second form would need to be:

HandleFoo(context.Context, map[string][]*foo.Instance)

since there can be multiple instances for a given type.

[2017-08-25 12:31] geeknoid commented on #1132
I disagree that there is an issue here. The data being provided is in the most directly meaningful form for the adapter author.

I do think we should add a Name field to the Type objects such that Type objects can be self-contained.

[2017-08-25 12:37] geeknoid opened #1140 "Few codegen issues"
#1. This comment in a generated file:

// Fully qualified name of this template
const TemplateName = "listentry"

should be updated from "this template" to "the template"

#2. I think we should introduce a Name field in the Type object which holds the name of the type. Note: would this cause problems if a template author chooses to name a field "Name"? Do we have any reserved field names for templ

[2017-08-25 19:31] guptasu opened #1143 "Ensure DNS 1035 compatibility for template names"
templateInfo.Name = Template's name must be DNS 1035 label compatible
templateInfo.implementation (field to be added) must be DNS 1035 compatible.

@mandarjog FYI

[2017-08-25 20:01] spikecurtis commented on #1049
The config I have so far looks like this:

[2017-08-25 22:25] geeknoid commented on #1049
Could you give a brief explanation of what this is expressing? It's a bit confusing..

[2017-08-25 22:50] spikecurtis commented on #1049
@geeknoid I've updated with some commentary.  Hopefully it is helpful.

[2017-08-26 00:00] jmuk commented on #1117
not fixed fully...

[2017-08-28 07:44] guptasu commented on #1140
For #1 : yes
      #2 : Name is reserved, so we can add Name. Curious: What is the need for a Name in Type ? The map we pass to the Configure holds the Type name in its key. Is there a specific use case you are trying to enable that needs Type to have a name ?

[2017-08-28 16:46] geeknoid commented on #1140
For #2, adding the Type.Name field is for good style. It's just not great to have a named object and the only place where it's name is kept is in an unrelated map key somewhere.

For #3, I think I'd like things to be consistent overall. In the operator's world, instances have the 'name' and the 'template' field. I'd like the Instance struct that adapters receive to also have a Name and a Template

[2017-08-28 17:05] geeknoid opened #1152 "Rename BuilderInfo.Impl to BuilderInfo.Package"
Let's eliminate the non-word "impl" from our API surface. I thought we had that one beat, but it just reared its head again.

[2017-08-28 17:07] guptasu commented on #1152
Then, let's also do the same replacement for Template.Info object.

[2017-08-28 20:45] sakshigoel12 commented on #831
We have 8 open P0 under this epic. Please could you close all issues that are complete - and call out anything that won't be complete by EOW (except docs and testing).

[2017-08-28 20:50] sakshigoel12 commented on #837
all issues under this epic have been closed. should this be closed now?

[2017-08-28 20:52] sakshigoel12 commented on #833
Is everything required for 0.2 from this epic complete?

[2017-08-28 20:56] geeknoid commented on #1119
Let's leave this as-is for 0.2.

[2017-08-28 20:59] geeknoid commented on #798
Can we close this?

[2017-08-28 21:00] guptasu commented on #798
this is covered in the epic 'adapter model' story + other bugs.

[2017-08-28 21:00] #798 closed

[2017-08-28 21:01] guptasu commented on #798
@geeknoid done

[2017-08-28 21:01] geeknoid commented on #983
Can we close this?

[2017-08-28 21:02] geeknoid commented on #1003
Can we close this?

[2017-08-28 21:05] geeknoid commented on #119
Is this still relevant, can we close?

[2017-08-28 21:09] geeknoid commented on #833
We're still working on the developers' guide and the build system functionality.

[2017-08-28 21:10] geeknoid commented on #837
This epic, like many epics, continues to be useful beyond the scope of a single release.

[2017-08-28 22:04] jmuk commented on #983
yes.

[2017-08-28 22:04] #983 closed

[2017-08-28 22:04] #804 closed

[2017-08-28 22:16] sakshigoel12 commented on #837
please move this to milestone 0.3 if everything for 0.2 is done.

[2017-08-28 22:57] jmuk opened #1155 "bin/linters.sh is painfully slow"
I've been feeling that linters.sh is _very_ slow. On my HP z620 workstation, a run of this script for checking all files takes >7 minutes.

Digging into some of the details, I noticed that `gometalinter.v1` seems the root cause; if we run the head of gometalinter, the performance is improved significantly, it finishes less than a minute (~24 seconds here). I have no idea why / when it's so improve

[2017-08-29 00:07] #1133 closed

[2017-08-29 17:13] douglas-reid commented on #1155
We pinned to `v1` to attempt to prevent differences in linter results across environments. Any other approach to ensuring consistent linting is also welcome.

I'm skeptical that there was a 14x speed-up across versions. Are you sure it ran the same set of linters on the same set of code?

Gometalinter documentation includes the warning:

And I've had to increase the deadline as our codebase has gr

[2017-08-29 18:06] geeknoid commented on #918
Can we close this?

[2017-08-29 18:06] geeknoid commented on #920
Done.

[2017-08-29 18:06] #920 closed

[2017-08-29 18:14] guptasu opened #1159 "Change adapter method signature"
- Ditch the `configureXXXX(..) error` method to `configureXXXX(..)`
- Ditch the `ValidateFn(..) error` and have the function on Builder type `func (*builder) Validate(cfg adapter.Config) error`

[2017-08-29 18:18] geeknoid commented on #37
Zack, do we need to do anything specific here?

[2017-08-29 18:20] ZackButcher commented on #37
Given our decisions around descriptors where we punt to adapter config to handle backend representation (so our representation of a metric in Istio is just a value and dimensions, nothing else) I think we're fine on this front.

[2017-08-29 18:22] mandarjog commented on #119
This is addressed by handler table.

[2017-08-29 18:22] #119 closed

[2017-08-29 18:24] ZackButcher commented on #1159
No, I think what we agreed to is:
- `SetFooTypes(map[string]foo.Type)` for each template the adapter implements
- Ditch `ConfigureFooHandler` (configure per template) in favor of `ConfigureAdapter(adapter.Config) adapter.ConfigError` (one configure for the entire Builder)
- `Build(context.Context, adapter.Environment) error`

We will call all of the `Set*` methods, then call `ConfigureAdapter`, th

[2017-08-29 18:26] geeknoid commented on #1112
What's left on this item?

[2017-08-29 18:29] geeknoid commented on #450
Is this still relevant?

[2017-08-29 19:09] guptasu commented on #1159
Oho.. yeah... that should have been SetXXXXTypes(..). Copy pasted but didn't edit.
You are right about the BUILD mtd.
@ZackButcher @geeknoid  Regarding ConfigureAdapter(adapter.Config), shall we call it SetAndValidate() ?

[2017-08-29 19:10] #37 closed

[2017-08-29 19:13] ZackButcher commented on #1159
No, it's not a setter like the others.

[2017-08-29 19:16] geeknoid commented on #1159
Looking at it written down, I think I prefer adding a whole separate Validate method. So instead of:

SetXXXTypes(...)
SetXXXTypes(...)
SetAndValidate(adapter.Config) error
Build(context, env) (adapter.Handler, error)

You'd have the more symmetrical (but slightly more verbose):

SetXXXTypes(...)
SetXXXTypes(...)
SetAdapterConfig(adapter.Config)
Validate() error
Build(context, env) (adapter.Handle

[2017-08-29 19:24] ZackButcher commented on #1159
SGTM

[2017-08-29 19:52] guptasu commented on #1159
@geeknoid and I just chatted about this and may be we can have a single validate method and single Build method that takes all the Types. We can codegen, all the Types for all supported templates in one proto, also throw in the adapter.Config in there. We can then pass this big object to the single Validate method and single Build method. Also get rid of builder completely.

So, Adapter gives two

[2017-08-29 20:03] geeknoid commented on #1159
This gets my vote. The semantics are very clear and it eliminates lines of
boilterplate from each adapter.

On Tue, Aug 29, 2017 at 12:52 PM, guptasu <notifications@github.com> wrote:

[2017-08-29 20:20] mandarjog commented on #1112
This i done.

[2017-08-29 20:20] #1112 closed

[2017-08-29 20:21] ZackButcher commented on #1159
Yeah, I like this best.

[2017-08-29 20:30] ZackButcher commented on #515
In new adapter model we're adding these fields to templates where they're required. See https://github.com/istio/mixer/pull/1163

[2017-08-29 20:30] #515 closed

[2017-08-29 20:31] geeknoid opened #1164 "Provider proper support for secrets in adapter config"
We need to make it possible to reliably keep secrets (backend credentials) in adapter config state.

[2017-08-29 20:32] ZackButcher commented on #918
Statsd and Prometheus are done, Stackdriver is in process, and @redhotpenguin will be moving the Circonus adapter over.

[2017-08-29 20:33] ZackButcher commented on #918
Actually, my mistake, Stackdriver was already merged. Closing this as the Circonus adapter is not yet checked in.

[2017-08-29 20:33] #918 closed

[2017-08-29 20:55] geeknoid commented on #1049
Thanks, the comments are very helpful :-)

It seems likely to me that we'll want fine-grained ACLs on who can change which map/set and hence these should be kept as separate resources.

It's also worth considering whether this could be all made easier to consume if we expand the Mixer's expression evaluation code to provide set/map related functions such as contains. Basically, if we believe sets

[2017-08-29 21:31] mandarjog commented on #1049
Maps should be separate resources, whose ACLS are managed like any other istio resources.
This is part of the original description.

I believe that providing a uniform way to store resources and connect them to Mixer EL is important and useful. This feature request fits perfectly in that. Resources are **owned** by the attribute producing adapter, but they are managed with all other Istio storage.

[2017-08-29 23:37] spikecurtis commented on #1049
I was thinking about set/map functionality in CEXL as I was working through the prototype.

CEXL supports map evaluation with literals, but does it support it with attributes today?  E.g. if I have attributes:
[code]
can I write an expression
[code]

[2017-08-30 21:07] douglas-reid commented on #672
let's punt on this for 0.2.  this is not a p1, imho.

[2017-08-30 21:09] douglas-reid commented on #691
Closing this.

[2017-08-30 21:10] douglas-reid opened #1171 "Context API / Servicegraph support"
Mixer should add support for export of information via a Context API (aka Servicegraph-like functionality) as a first-class concept.

[2017-08-30 21:11] #691 closed

[2017-08-30 21:17] douglas-reid commented on #776
@mandarjog small update: we have some of this functionality now, just not in logs (mostly in metrics and traces).

We should consider using something like: https://github.com/grpc-ecosystem/go-grpc-middleware/tree/master/logging/zap to get the logs.

[2017-08-30 21:22] douglas-reid commented on #789
cc: @mandarjog

This is something we need ASAP. Once the e2e transition to the new adapters, etc., is done, let's add this.

[2017-08-30 21:25] douglas-reid commented on #836
Initial work in https://github.com/istio/mixer/pull/1108.

[2017-08-30 21:26] douglas-reid commented on #859
downgrading priority, as this hasn't been needed yet.

[2017-08-30 21:27] douglas-reid commented on #948
@guptasu you mentioned that this was doable now earlier today. can you expand on any updates here?

[2017-08-30 21:31] douglas-reid commented on #949
Filed: https://github.com/pubref/rules_protobuf/issues/116. No updates currently. Will try reaching out to bazel team.

[2017-08-31 00:07] #1117 closed

[2017-08-31 15:19] mangchiandjjoe opened #1178 "Crate an Open Policy Agent adapter."

[2017-08-31 22:06] mandarjog opened #1181 "Panic: CreateHandler delivers incorrect inferred type on instance name collision"
I have `requestcount` defined as a metric and as a quota.
All instances are identified by their fully qualified name so it is legal in our config scheme to have these 2 instances share a name.

I get the following error.

[code]

[2017-08-31 22:09] mandarjog opened #1182 "K8s store should support a list of namespaces to listen on"
In a shared cluster testing, we may be running running multiple mixers. If Mixer always watches for all namespaces in the cluster, this leads to problems.

K8s store must take a list of namespaces

k8s:// hdjkdkkd/?namespaces=n1,n2...

[2017-08-31 22:16] qiwzhang opened #1183 "ReferencedAttributes from Mixer is wrong"
Pilot integration test for this PR(https://github.com/istio/pilot/pull/1152) fail. This PR has mixer client change of using ReferencedAttributes from Mixer to cache Check.

But data returned from Mixer basically disabled check cache.  Here is the log

[libprotobuf ERROR external/mixerclient_git/src/check_cache.cc:145] Referenced attributes: Absence-keys: origin.uid, request.headers, Exact-keys: ta

[2017-08-31 22:16] mandarjog opened #1184 "Config should support implied "current" namespace for mixer-rules"
Mixer rules require that handler and instances names be fully qualified.
It is make configurations tedious and non portable. If namespace is omitted, the name space of the document should be used.

Current version
[code]
New version
[code]

[2017-08-31 22:22] mandarjog opened #1185 "Empty predicate selector *must* select the action."
In the new dispatcher / evaluator empty predicate selector causes an error.
It *must* evaluate to true.

[2017-08-31 22:31] qiwzhang commented on #1183
@mandarjog

[2017-08-31 22:48] geeknoid commented on #1183
We must have a mismatch in encoding of string indices. It's the first case where Mixer is generating string indices for attributes and the first time the mixerclient is decoding string indices.

I'll check over my code to make sure I can round-trip properly (I encode and decode strings consistently). I suggest you test the same on your end.

[2017-08-31 22:58] qiwzhang commented on #1183
I think the indexing is fine.  Istio/proxy is using mock mixer (in mixer repo under /test folder) for the integration test and it is using the same global dictionary as real mixer.   My integration test shows that our global dictionary matched.

[2017-08-31 23:44] qiwzhang commented on #1183
As a reference.  I tested mixer with this simple config

./bazel-bin/cmd/server/mixs server   --configStoreURL=fs://$(pwd)/testdata/configroot

It replied with correct ReferencedAttributes as: only target.service is used as EXACT for both Check and Quota.

[2017-09-01 02:27] geeknoid commented on #1119
Addressed by updated code gen model.

[2017-09-01 02:27] #1119 closed

[2017-09-01 02:29] geeknoid commented on #1126
We need to deal with the API repo too. We need to delete the old descriptor protos and find a better location for the ValueType enum.

[2017-09-01 02:30] geeknoid commented on #1126
Regarding action_rules in the config proto, that should be just action I believe. No rules.

[2017-09-01 04:16] douglas-reid commented on #949
Have sent PR to fix root cause: https://github.com/pubref/rules_protobuf/pull/118.

Also, have put in interim warning suppression PR: https://github.com/istio/mixer/pull/1180.

[2017-09-01 18:09] jmuk opened #1192 "invalid CRD name istio.io/mixer/adapter/stdio"
Right now there is a CRD kind `istio.io/mixer/adapter/stdio`; that is a invalid name. This goes to an error.

[code]

[2017-09-01 23:01] douglas-reid commented on #1183
So, it sounds like the version of mixer used in the pilot integration tests is doing something wonky that we don't see from HEAD. More investigation is need.

[2017-09-02 06:04] #1192 closed

[2017-09-04 07:36] mandarjog opened #1206 "Mixer IL must support prefix / suffix wildcard matching."
Cexl, supports expression of kind
`selector: target.service == service1.*`

IL does not seem to support it, if this is not supported it is a regression on 0.1

[2017-09-04 08:01] mandarjog opened #1208 "Mixer IL should not treat a StringMap miss as a fatal error"
Expression written on request.headers should not return an error if the header is missing.
2 choices.
1. Add a test for exits(request.headers["myspecialheader"])
2. treat missing stringmap value as empty string.
[code]

[2017-09-05 16:18] jmuk opened #1209 "pkg/config/crd test is flaky"
I got some reports saying the test may fail with errors like:
[code]

It seems that `waitFor` fails to receive the expected events.

https://github.com/istio/istio/issues/633 indicates that it may still fail to receive the events even though we increase the timeout. Needs to investigate why.

[2017-09-05 16:39] ozevren commented on #1206
What is the semantics of this? Is it supposed to work with equals with a rhs of string with *, or can the rhs be calculated (i.e. "foo == createPattern()")?

It feels like this should be a function call (i.e. "matches(str, pattern)")

[2017-09-05 16:41] ozevren commented on #1208
I assume this should apply to all stringmap typed things and not just "request.headers"?

[2017-09-05 17:08] ozevren commented on #1208
BTW conflating "not exists" with "default value" is generally a bad pattern. Have you guys done some previous design work in this area?

It is possible to have the compiler to recognize ~~<potentially failing op> == ""~~ pattern but I am not sure if it is the right thing to do in the general case.

[2017-09-05 18:50] mandarjog commented on #1208
As the title suggests, it should apply to all stringmaps.
We *are* missing an `exists` method to test for presence of a header I would use it in that case.

However one would always have to test for presence while comparing any header, which is tedious.
so
`request.headers["myheader"] == "myvalue"`
becomes
`exists(request.headers["myheader"]) && request.headers["myheader"] == "myvalue"`

[2017-09-05 18:51] mandarjog commented on #1185
fixed by #PR1187

[2017-09-05 18:51] #1185 closed

[2017-09-05 18:59] mandarjog commented on #1206
Ok make it a function call and add fail if you are comparing a string with a literal that contains `*`. Configs *are* using prefix / suffix matches in their configuration.

Can you also run IL evaluator on the eval tests ?
https://github.com/istio/mixer/blob/master/pkg/expr/eval_test.go#L25

We should find out where things differ.

[2017-09-05 18:59] mandarjog commented on #1181
fixed by #1187

[2017-09-05 18:59] #1181 closed

[2017-09-05 19:05] kyessenov commented on #1206
why not use `target.name=="service1"`?

[2017-09-05 19:10] ozevren commented on #1208
Got it. Pity Go doesn't have a [null-coalesce operator](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-conditional-operator).

It looks like CEL also doesn't have anything similar to this and uses nulls explicitly. Oh well.

[2017-09-05 21:56] mandarjog opened #1213 "Increase grpcServer.go test coverage"
grpcServer.go needs to increase its test coverage.

There is one specific example where a regression was not caught --> pr #1207

[2017-09-06 00:52] mandarjog opened #1214 "Create mixer-envoy integration test suite"
Mixer integration is only tested in istio/istio e2e tests at present.
We need to replicate all those tests using Mixer + envoy only.

1. Integration test with real standard adapters
* Test statically configured envoy with mixer.
* Mixer should use the set of standard adapters.
* exercise scenarios like rate limiting, denials and policy in a focussed way.

2. Integration tests with spy adapters
Add

[2017-09-06 07:23] guptasu opened #1216 "Codegen should use EvalString if type is string"
Currently in the generated code in Mixer, we are using Eval to evaluate strings. It seems like expression evaluator returns a nil interface{} if the string is empty (causing npe). Which is wrong. So the fix is to use EvalString when evaluating a fields that is of type string.

@mandarjog is my understanding right about EvalString method (may be that is why it was introduced to begin with)

after t

[2017-09-06 15:42] douglas-reid commented on #836
This is now possible. I've verified with an adapter built in `git@github.com:douglas-reid/mixer-noop-reporter.git`.

It might not be pretty, but it is possible.

[2017-09-06 15:43] douglas-reid commented on #836
I'm going to close this issue, as I think the minimum bar has been met.

[2017-09-06 15:43] #836 closed

[2017-09-06 16:06] douglas-reid commented on #579
@ZackButcher right now, we have a way for specifying which adapters to include in a mixer build via the bazel file in `//adapters/`. I'm not sure that meets your goal of a higher-level tool or not.

What do you think is left to close this issue out for 0.2 ?

[2017-09-06 17:48] jmuk opened #1219 "bazel_to_go.py (and linters.sh) causes further bazel-build failures"
After running ./bin/bazel_to_go.py, bazel build fails with the following error:
[code]

Removing `vendor/` directory fixes this.

bazel_to_go.py is used by linters.sh, so running linters locally also causes this situation.

[2017-09-06 18:00] guptasu opened #1220 "Unspecified template fields in instances config should be allowed"
Currently generated code enforces that all fields in the template are required and operator must specific them.

We can be lenient here. For static primitive fields, we can just ignore if the field in not present in the instance config.. and the instance object we pass to adapters can just have the default values for those primitive fields. For dynamic types (ValueType fields) we can infer the typ

[2017-09-06 18:03] guptasu commented on #1216
This problem is across all primitives. Eval on empty string returns nil. Once we fix https://github.com/istio/mixer/issues/1220 (allowing operators to skip specifying the fields completely), we will need to tackle how the Eval should be called during runtime dispatch and handle the nil object correctly when filling in the Instance object.

[2017-09-06 19:06] douglas-reid commented on #1219
@guptasu didn't we fix this in a recent PR, or is this new?

[2017-09-06 19:07] guptasu commented on #1219
This is new... Mandar and I did poke around this a bit last week. Not sure why this is happening.. I tried changes from 2 weeks back , was getting the same outcome.

[2017-09-06 19:08] guptasu commented on #1219
I had mentoned this on slack last week.. no one cared then

[2017-09-06 22:43] douglas-reid commented on #1219
I can't replicate this from HEAD.  Can we just add a filter on the `bazel_to_go.py` script?

[2017-09-06 22:58] guptasu commented on #1219
@douglas-reid what is a filter ?

So you ran
[code]

and everything worked ? Strange..

[2017-09-06 23:22] douglas-reid commented on #1219
yes. fwiw, i actually ran:

[code]

by filter, i mean: update `bazel_to_go.py` not to symlink anything related to `com_github_istio_mixer`

[2017-09-06 23:33] douglas-reid commented on #1219
Does https://github.com/istio/mixer/pull/1226 fix your issues?

[2017-09-06 23:38] jmuk commented on #1219
It's okay with `//cmd/...`, but it reproduces if you do with `bazel build //...`. Don't know why.
 #1226 looks like solving this situation.

[2017-09-07 00:34] jmuk commented on #1219
fixed by #1226

[2017-09-07 00:34] #1219 closed

[2017-09-07 11:27] guptasu opened #1229 "Pass context to the adapter during build"
handlerBuilder.Build takes context.context object. where do we get it from into the runtime/handler .go code and config/handler.go code

[2017-09-07 11:29] guptasu opened #1230 "Invoke handlerBuilder.validate from the runtime/handler"
Currently the config validation (handlerBuilder.Validate) is only in the config/validator. However it seems upon config change only the runtime/handler code will be called. Therefore we probably need to do handlerBuilder.Validate from the runtime/handler code too.

[2017-09-07 17:54] guptasu commented on #1184
@mandarjog Seems 0.3 right ?

[2017-09-07 17:55] guptasu commented on #1178
@mangchiandjjoe Are we planning to land this for 0.2 ?

[2017-09-07 17:58] guptasu commented on #1159
Finally we settled on

SetXXXTypes(...)
SetXXXTypes(...)
SetAdapterConfig(adapter.Config)
Validate() *adapter.ConfigErrors
Build(context, env) (adapter.Handler, error)

Fixed

[2017-09-07 18:01] jmuk commented on #1209
Thanks, closing...
cc @gnirodi

[2017-09-07 18:01] #1209 closed

[2017-09-07 18:05] guptasu commented on #1003
@mandarjog this is done. closing it on your behalf

[2017-09-07 18:05] #1003 closed

[2017-09-07 18:10] guptasu commented on #1102
@mandarjog friendly ping for my comment above.

[2017-09-07 18:11] guptasu commented on #1093
@manlinl can we close this issue ?

[2017-09-07 18:12] guptasu commented on #796
@ZackButcher shall we move this to 0.3 ?

[2017-09-07 18:21] guptasu commented on #1006
We are doing this inside the new controller https://github.com/istio/mixer/blob/master/pkg/runtime/controller.go#L486

Fixed

[2017-09-07 18:21] #1006 closed

[2017-09-07 18:22] guptasu commented on #1029
Fixed

[2017-09-07 18:22] #1029 closed

[2017-09-07 18:22] guptasu commented on #966
@mandarjog in the new model controller is already doing that. We good with this bug

[2017-09-07 18:23] guptasu commented on #1066
We cannot land this for 0.2. @mandarjog @geeknoid . You all okay if I move this to 0.3 ?

[2017-09-07 18:25] guptasu commented on #1104
@ZackButcher FYI : timestamp is supported now in templates.

[2017-09-07 18:42] manlinl opened #1233 "IL expression evaluator can't handle expression like request.headers["xxx"] = xxx"
AST expression  evaluator works file for
https://github.com/istio/mixer/blob/master/testdata/config/deny.yaml

But IL evaluator doesn't work.

[2017-09-07 19:15] guptasu commented on #1233
@mandarjog @douglas-reid @ZackButcher @geeknoid FYI

[2017-09-07 19:24] ZackButcher commented on #1233
While we're at it, IL eval should also handle `stringmap.attribute[other.attribute]` where `other.attribute` is a `STRING` attribute, and not just string literals as keys.

[2017-09-07 19:31] ozevren commented on #1233
There is nillability case that I am fixing right now:
https://github.com/istio/mixer/pull/1221

Haven't looked at the original issue on this thread, but I am assuming it
is related (stringmap lookup works for non-nil case)

{
 expr: `ar["foo"] == "bar"`,
 input: map[string]interface{}{
  "ar": map[string]string{
   "foo": "bar",
  },
 },
 result: true,
},

Also, for non-nil case stringmap.attribut

[2017-09-07 20:29] guptasu commented on #1140
@mandarjog FYI

Chatted with @ZackButcher on this.
1. Adding Type.Name can be added later post 0.2
2. Having shared Types is not supported right now, therefor adding Type.Name along with Instance.TypeName is not critical right now. Also, changing adapters to use Instance.TypeName instead of Instance.Name is a pretty big change that we cannot take now.
3. Instance.TemplateName is also a backwards c

[2017-09-07 21:08] guptasu commented on #1220
Discussed this with team, for 0.2 we will need all the fields in template to be required fields.
Moving this to 0.3

[2017-09-07 21:52] guptasu commented on #1159
PR is in, issue is resolved

[2017-09-07 21:52] #1159 closed

[2017-09-08 04:25] #1093 closed

[2017-09-08 04:25] #834 closed

[2017-09-08 16:21] #949 closed

[2017-09-08 19:43] ZackButcher opened #1241 "Use google.api.Distribution.proto to describe distribution buckets"
Both Prometheus and Stackdriver copy the [google.api.Distribution protos' BucketOptions](https://github.com/googleapis/googleapis/blob/a5e1f7d76c6779c1690e45649be31f4e96de68be/google/api/distribution.proto#L77-L145) message into their adapter config. We should just use the proto directly. [The blocker is that it includes unnecessary imports](https://github.com/googleapis/googleapis/blob/a5e1f7d76c

[2017-09-08 20:14] #1208 closed

[2017-09-08 20:16] ozevren commented on #1233
PR #1221 is  in now. Manlin, could you try your case with the latest bits?

Thanks

[2017-09-08 20:17] ozevren commented on #1206
PR #1240 should unblock this.

[2017-09-09 22:04] mandarjog opened #1254 "IL expression "|" func incorrectly returns unresolved attribute error"
`context.protocol | "bgp"`  express should not result in an error because the attribute is missing.

This is an excerpt from the log.

[code]

@douglas-reid you are also familiar with this code.

[2017-09-09 22:08] mandarjog commented on #1254
I have observed that it works ok after a config change. Perhaps IL is not getting the correct vocabulary at startup ?

[2017-09-11 16:15] ozevren commented on #1254
Possibly.

https://github.com/istio/mixer/blob/master/cmd/server/cmd/server.go#L355
This is where the finder IL evaluator gets registered as a listener to the
config manager and should be getting the metadata through the event
callback interface.

I am not sure how the timings of this is supposed to work here though. When
I was initially doing this work, I tried spelunking and trying to figure
out

[2017-09-11 17:53] douglas-reid opened #1261 "grpcServer.go:155: s.dispatcher nil when no config, causes Mixer panics."
As reported on istio-dev@:

[code]

[2017-09-11 17:56] douglas-reid opened #1262 "Update https://github.com/istio/mixer/blob/master/doc/dev/development.md"
Our devs docs need to match most recent `mixs` and `mixc` invocations that work [reported on istio-dev@].

Doc: https://github.com/istio/mixer/blob/master/doc/dev/development.md

[2017-09-11 23:29] ldemailly opened #1267 "standalone/perf test mixer without --useAst doesn't work"
using the simple setup in istio/devel/

without --useAst get the following errors:

[code]
mixs server side:
[code]

[2017-09-11 23:30] mandarjog commented on #1254
related to #1267

[2017-09-12 00:43] jmuk commented on #1155
Checked this a bit more.

The HEAD of `gometalinter` is indeed very fast, with the exactly same set of linters as `v1` has. I skipped `prep_linters` from linters.sh, but still have this result.

Looked into the actual commandlines, I've noticed that the HEAD invokes linters with actual target go files, while `v1` invokes with `.`, I think this is the cause of this huge change.

[2017-09-12 00:44] guptasu commented on #1230
Fixed.. @mandarjog FYI.

[2017-09-12 00:44] #1230 closed

[2017-09-12 00:45] guptasu commented on #1229
chatted with @ZackButcher, the Build is called during config path, so our current workaround to pass context.Background is not that bad.

[2017-09-12 00:45] guptasu commented on #1229
Moving this to 0.3

[2017-09-12 00:52] guptasu commented on #1216
Since in 0.2 we always require the field to be set inside the instance configuration (for all fields in the template), this problem is easily solved by checking if the expression is not "" or is not '""'. These two checks during configuration time will ensure we never evaluate an `""` strings during request time. PR https://github.com/istio/mixer/pull/1246 enforces empty expressions during configu

[2017-09-12 00:52] guptasu commented on #1216
Moving this to 0.3

[2017-09-12 02:09] jmuk opened #1273 "queue_test.go may be flaky"
I've heard that sometimes pkg/config/store/queue_test.go can fail with the following log:

[code]

This is unexpected. Will investigate why.

[2017-09-12 02:19] jmuk commented on #1273
cc @guptasu

[2017-09-12 05:29] #1233 closed

[2017-09-12 05:29] #1206 closed

[2017-09-12 16:14] mandarjog commented on #1261
addressed by #1270

[2017-09-12 16:14] #1261 closed

[2017-09-12 17:27] jmuk opened #1277 "perftest doesn't run the all benchmarks"
A run of `./bin/perftest.sh` is like as follows:
[code]

This shows pkg/attribute and pkg/adapterManager don't have benchmarks anymore. On the other hand, `pkg/api/perf_test.go` and `pkg/il/interpreter/interpreterBenchmark_test.go` have benchmarks, but they don't run with `perftest.sh`.

Also; pkg/api/perf_test.go and pkg/il/interpreter/interperterBenchmark_test.go fail to run, like:
[code]

[2017-09-12 17:41] sakshigoel12 commented on #1126
Done

[2017-09-12 17:41] #1126 closed

[2017-09-12 17:41] sakshigoel12 commented on #1140
@guptasu can you update

[2017-09-12 17:44] sakshigoel12 commented on #1183
@qiwzhang Do you see this issue anymore

[2017-09-12 18:16] guptasu commented on #1140
This has been moved to 0.3, we don't need to do anything more for 0.2.

[2017-09-12 18:22] qiwzhang commented on #1183
Check latest Pilot e2e test log(https://storage.googleapis.com/istio-prow/pull/istio_pilot/1249/pilot-e2e-smoketest/363/build-log.txt).  It seems it is working

W0912 14:47:19.550] [libprotobuf INFO external/mixerclient_git/src/check_cache.cc:153] Add a new Referenced for check cache: Absence-keys: destination.service, Exact-keys: request.scheme, quota.name, quota.amount, target.service, target.ui

[2017-09-12 18:33] qiwzhang commented on #1183
Sorry,  I have to re-open it again.   request.time is in the EXACT keys list.   So it is wrong.

[2017-09-12 20:07] guptasu commented on #1233
@manlinl I think we can now change your test to set useAst to false.

[2017-09-12 21:57] mandarjog opened #1282 "IL Runtime fatal error: concurrent map read and map write"
IL runtime throws a fatal error during testing.
`Istio Mixer: version: unknown (build: 2017-09-11-543c458, status: Clean)`

[code]

[2017-09-13 07:33] ldemailly opened #1286 "istio/istio e2e ratelimit test fails reliably if upgrading mixer to latest (seemingly because of unknown)"
when using latest mixer with latest pilot/envoy

qps is >> 1 qps
I0913 07:15:01.592] Ended after 1m0.39100059s : 596 calls. qps=9.869

but everything goes to 200s
[code]

and no 429s at all

for instance:

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/775/e2e-suite-rbac-auth/531/

(I have https://github.com/istio/istio/pull/776  for better ratelimit output in that case but t

[2017-09-13 13:32] mandarjog commented on #1286
This is because https://github.com/istio/istio/pull/725 is not merged yet.

[2017-09-13 13:45] mandarjog commented on #1286
There is still some problem, investigating...

[2017-09-13 16:58] kyessenov opened #1287 "cant add quotas with istioctl"
@karmab commented on [Wed Sep 13 2017](https://github.com/istio/pilot/issues/1264)

when running on top of openshift and trying to create a quota with
[code]
i get the following ERROR:
[code]

---

@kyessenov commented on [Wed Sep 13 2017](https://github.com/istio/pilot/issues/1264#issuecomment-329231279)

moving to the appropriate channel

[2017-09-13 16:59] karmab commented on #1287
full client trace ( running with -v 10 )
[code]
server trace
[code]

[2017-09-13 18:49] ldemailly commented on #1286
it was the config issue, my bad
(this being said the unknown are maybe suspicious)

[2017-09-13 18:49] #1286 closed

[2017-09-13 22:27] sebastienvas opened #1289 "Code Coverage is taking 13 minutes out of presubmit"
We should be running the code coverage outside of the presubmit job in parallel with the smoke test.

[2017-09-13 22:45] mandarjog commented on #1289
This speeds up Mixer builds.

[2017-09-13 23:19] #1289 closed

[2017-09-14 00:29] douglas-reid commented on #1287
@karmab can you add version information (including Mixer version, cluster version, rbac, etc.) to the  bug description?

[2017-09-14 09:26] karmab commented on #1287
i m using the following
gcr.io/istio-testing/mixer                         a6e8b94c9217394139f41acb5c9bfdc19426690d
kubernetes v1.7.0+695f48a16f

[2017-09-14 12:06] mandarjog commented on #1287
Hi @karmab that way of creating rate limits is no longer supported. Use kubectl to push the rate limit rule in and use a newer build.

[2017-09-14 16:37] douglas-reid opened #1295 "Improve test coverage for //pkg/expr/func.go"
https://codecov.io/gh/istio/mixer/src/master/pkg/expr/func.go

Some of the new methods added to the AST implementation need more thorough testing.

[2017-09-14 16:41] douglas-reid opened #1296 "Improve test coverage of //pkg"
https://codecov.io/gh/istio/mixer/tree/master/pkg

The files in `//pkg` could use some more unit test coverage. There is some low-hanging fruit in the files:
- `api/grpcServer.go`
- `status/status.go`
- `template/template.go`

[2017-09-14 16:44] douglas-reid opened #1297 "Improve test coverage of //tools/codegen/pkg"
https://codecov.io/gh/istio/mixer/tree/master/tools/codegen/pkg

Some of this may require restructuring code but, in the near-term, we should investigate tickling at least some of the currently non-covered error handling code in the generation code.

[2017-09-14 16:47] douglas-reid opened #1298 "Improve test coverage of //pkg/runtime"
https://codecov.io/gh/istio/mixer/tree/master/pkg/runtime

There are some files in this package that should be fairly easy for which to improve coverage:
- `env.go`
- `init.go`
- `logger.go`
- `resourceType.go`

[2017-09-17 22:20] sakshigoel12 opened #1314 "Writing an Adapter Walkthrough"
Sunny opening this issue for docs - Writing an Adapter Walkthrough. Please mark as duplicate if you have another issues tracking it.

[2017-09-17 22:21] sakshigoel12 opened #1315 "Mixer Template Developer's Guide"

[2017-09-17 22:23] sakshigoel12 opened #1316 "Mixer: Update docs for Configuration"

[2017-09-17 22:28] sakshigoel12 opened #1317 "Docs for Mixer + Adapter Build Process"

[2017-09-17 22:29] sakshigoel12 opened #1318 "Update Mixer Architectural Overview Docs"

[2017-09-17 22:52] sakshigoel12 opened #1319 "Review and update Mixer repo readme"

[2017-09-18 18:39] douglas-reid opened #1320 "Support a fallback for time-related expressions"
We should provide a way for specifying a fallback for time expressions.

Possibilities:
- add a `now()` expressions to the IL and AST.
- add code / preprocess adapter for generating a mixer-specific attribute, like `mixer.report.time` or `mixer.received.time`

There are probably other approaches, as well.

[2017-09-18 18:44] ZackButcher commented on #1320
+1 I hit this pain point in writing stackdriver config and more generally in attempting to test configs. Today you _must_ provide all time attributes when using mixc since we can't provide fallbacks in config, for example.

[2017-09-19 16:23] douglas-reid opened #1322 "Prometheus metric duplication possible"
More investigation/thought needed:

It is possible to configure multiple prometheus handlers that use the same Registry.  If each of these handlers use the same names for metrics, then the data recorded in the metrics will be a union of each of the values sent to the handlers.

This can lead to duplication in the following scenario:
1. handlerA is sent `requestcount.metric.istio-config-default` fo

[2017-09-19 16:46] mandarjog opened #1323 "Portable mixer config with assumed "current" namespace"
Mixer configuration uses reference to other configuration elements.
A fully qualified name of the resource includes namespace of that resource.

In case of an action
[code]
We can (and do) elide namespace. If a reference is not fully qualified, it is also assumed to be from the same namespace.

This however does not extend to adapter configuration.
Prometheus config for example lists additional co

[2017-09-19 17:03] guptasu commented on #1315
@ZackButcher can you help out with this documentation. I don't think I will be able to get to this given the edits I have to make to the Adapter dev guide

[2017-09-19 18:40] jmuk commented on #1323
Do they need to be fully qualified?  Can we say like, `shortName` will point to the object in the same namespace?

[2017-09-19 20:58] jmuk commented on #1277
this is fixed by https://github.com/istio/mixer/pull/1280

[2017-09-19 20:58] #1277 closed

[2017-09-19 21:03] jmuk commented on #1298
Seems to be solved by @mandarjog https://github.com/istio/mixer/pull/1300?
I don't know why codecov isn't refreshed yet, but `env.go`, `logger.go`, and `resourceType.go` are now 100% covered.  `init.go` is low, but I think it's by-design.

[2017-09-20 19:27] rlguarino opened #1328 "Question: Where is "HandleMetric" defined?"
All of the Metrics adapters seem to be implementing an interface which requires the function `HandleMetric(_ context.Context, vals []*metric.Instance) error`. For example [prometheus](https://github.com/istio/mixer/blob/master/adapter/prometheus/prometheus.go#L178) and [stackdriver](https://github.com/istio/mixer/blob/master/adapter/prometheus/prometheus.go#L178).

I expected to see that function

[2017-09-20 20:49] rlguarino commented on #1328
OH is it just "Handle<TemplateName>"?

[2017-09-20 21:35] rlguarino commented on #718
Is there any update on this? I remember talking to @ZackButcher a few weeks ago and I think he said that it's already possible to do this in an Adapter, but the Envoy filter didn't properly support it. Is there a ticket for that work specifically?

[2017-09-20 22:32] ZackButcher commented on #718
These are slightly different usecases: Greg was asking for (what we now call) `attributes` adapter features, that is, being able to introduce new attributes into Mixer's request context for use by other adapters inside of Mixer. We support this today, and its how we introduce k8s metadata into Mixer (e.g. `source.labels` attribute is populated this way).

Ross, IIRC you're looking to be able send

[2017-09-20 23:09] guptasu opened #1331 "Prometheus adapter not working for Linear buckets and exponential buckets."
prometheus.go references types from pkg/adapter/metrics.go. Ideally that file pkg/adapter/metrics.go should be deleted and //adpater/prometheus should only know about template types or it's own config. In this case it seems like the prometheus should be referencing config.<types> instead of old structs from pkg/adapter/metrics.go

Because of same named types, prometheus is trying to cast types fro

[2017-09-20 23:17] guptasu commented on #1331
@mandarjog @ZackButcher @douglas-reid FYI

[2017-09-20 23:24] rlguarino commented on #718
I think there was a discussion on the Istio 0.2 design document about attribute generating adapters. I'll link that comment thread to this Issue then. I think the argument was that these types of adapters are not actually that different from current adapters.

As for the work to get attributes back to the Poxies I'd definitely be interested in using that feature. It would be particularly useful in

[2017-09-20 23:32] ZackButcher commented on #718
I thought we had issues filed for it, but I couldn't find them - feel free to file one here. Discussion on it, and other 0.3 issues, should start up in early October, after we get the 0.2 release out the door.

[2017-09-20 23:41] rlguarino opened #1333 "Support a way for Mixer to mutate a request's headers in flight"
Mixer adapters should be capable of producing attributes which are sent back to the proxy and eventually propagated to the Upstream [defined here](https://envoyproxy.github.io/envoy/intro/arch_overview/terminology.html).

[2017-09-20 23:42] rlguarino commented on #718
I've filed https://github.com/istio/mixer/issues/1333 to track this
request. When it comes time to do planning let me know. I'd be willing to
help out here. I'll just need some direction and help with design.

On Wed, Sep 20, 2017 at 4:32 PM Zack Butcher <notifications@github.com>
wrote:

[2017-09-21 00:12] mandarjog commented on #1323
@jmuk, yes `shortName` pointing to current namespace is the fix.
The way you achieve it is by using one of the two options specified. I think this is a good goal to have.

[2017-09-21 00:17] mandarjog commented on #1328
@rlguarino an adapter developer's guide will be published in next 2 weeks.
You can look [noop adapter](https://github.com/istio/mixer/blob/master/adapter/noop/noop.go)
which consumes all templates.

You can also look at [code gen](https://github.com/istio/mixer/blob/master/tools/codegen/pkg/interfacegen/template/interface.go#L73) for details.

[2017-09-21 00:17] #1328 closed

[2017-09-21 01:13] sakshigoel12 commented on #831
guptasu@ Both P0s for this epic have been moved to 0.3. Is there anything critical left before moving entire epic to 0.3?

[2017-09-21 15:39] rlguarino commented on #1333
@ZackButcher  I think I remember someone saying that a list of all attributes is sent back to the Envoy filter so it can make caching decisions. Was that just in theory or is that a reality at the moment?

[2017-09-21 15:55] ZackButcher commented on #1333
[That does happen today](https://github.com/istio/api/blob/master/mixer/v1/check.proto#L105), though attribute values are not sent back.

The work for Mixer to mutate request headers is:
- In Mixer, formalize the concept of "return attributes". Today only `attributes` adapters can produce attributes, and they reside only in Mixer. We need a way for adapters to talk about attributes they inject int

[2017-09-21 17:14] gbrail commented on #718
I think that we're making progress with the new Mixer model, so this may
not be a blocker for now.

However, the requirement for a Mixer adapter to be able to customize
aspects of the error that is returned from a "check" failure, such as an
HTTP status code, remains very important and I don't recall if that's in
another issue or in this one.

On Wed, Sep 20, 2017 at 4:32 PM, Zack Butcher <notific

[2017-09-21 17:17] ZackButcher commented on #718
We support returning a [google.rpc.Status](https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto) from your adapter that gets handed to the proxy, and there's a well established mapping of rpc status Code to HTTP code.

[2017-09-21 18:46] douglas-reid opened #1337 "Better document developer workflow and options."
Things we need to augment documentation on:
- how to use bazel to generate go deps
- basic IDE usage
- debugging (local and remote)
- general best practices.

[2017-09-21 22:44] jmuk opened #1340 "benchmark test for pkg/runtime"
Maybe we want to measure the performance of pkg/runtime. The performance of dispatcher and the config updates (i.e. `publishSnapshot`) should be measured in the benchmark test.

This will require https://github.com/istio/mixer/pull/1165 for mocking the backend storage.

[2017-09-22 00:03] sakshigoel12 commented on #1183
qiwzhang@ can you give an update here?

[2017-09-22 00:13] qiwzhang commented on #1183
It is fixed

The new log are

W0921 03:21:05.355] [libprotobuf INFO external/mixerclient_git/src/check_cache.cc:153] Add a new Referenced for check cache: Absence-keys: Exact-keys: source.ip, destination.uid, context.protocol, destination.ip, destination.service, source.uid,

[2017-09-22 00:13] #1183 closed

[2017-09-22 22:58] #1295 closed

[2017-09-22 23:07] geeknoid commented on #1322
The issue is that the namespace of the metric isn't being respected, right? Seems like if we maintain the name consistently with its namespace, then no collision would take place. Or I'm missing something...

[2017-09-22 23:54] douglas-reid commented on #1322
@geeknoid my thougts: it isn't respected by... operators? prometheus? validation? I'm not clear where the responsibility lies.

If you write config that uses the same name for prometheus metrics connected to two different, fully qualifed instances, you will see this issue.  Example:

[code]

In that case, is the duplication intentional?  And how would Mixer or an adapter be able to distinguish?  I

[2017-09-23 00:19] mandarjog commented on #1322
We added a way for the operator to provide an `outbound` name to the metric. This name appears inside prometheus and is a prometheus friendly name. The name obtained by post processing `requestcount.metric.istio-config-default` is ugly and not prometheus like.

In the above examples, even though instance names are different, the operators chose to assign the same prometheus metric name to those tw

[2017-09-23 00:52] guptasu commented on #1317
@douglas-reid I have a placeholder in the adapter developer guide for this purpose. Do you think the fix for this bug will be adding a section there
this is what I am referring to.
https://docs.google.com/document/d/1rKPt2Z2acy4pRwcvScPa-Na-EnU-6poGR-Rj_fZtaIc/edit#heading=h.enwekb8t755e

[2017-09-23 00:57] guptasu opened #1343 "testenv package cause cyclic dep when used from adapter package"
trying to add a test in the adapter package that uses the test env cause a cycle deps
[code]
FAIL	istio.io/mixer/adapter/mysampleadapter [setup failed]

This is critical in order to allow the adapter developers to write tests in their code base and also use our testenv.

[2017-09-23 04:54] manlinl commented on #1343
This is pretty natural. testenv depends on a

[2017-09-23 10:21] sdake commented on #1337
Nice issue tracker id 🥇

@douglas-reid would you expand on "use bazel to generate go deps"?  I have some docs i'm sorting out locally before submitting a PR to add CentOS support to Istio.  These might touch on the generate go deps and general best practices areas.  I use the makefiles, rather than the technique recommended by @ZackButcher, however, I've honed in on one workflow for local developm

[2017-09-23 15:39] guptasu commented on #1343
//adapter is a completely pluggable module and ideally should not be referenced from `istio.io/mixer/cmd/server/cmd`. However, I just looked into it, we are unfortunately referencing //adapter to access the LegacyInventory at two places in /cmd/server/cmd . For example https://github.com/istio/mixer/blob/master/cmd/server/cmd/server.go#L297

I propose we move the [legacy Inventory.go](https://gith

[2017-09-23 17:12] guptasu commented on #1343
I think the right solution will be to parameterize the legacy inventory too, like how we have parameterized the new inventory. The main.go passes the value. I will send a PR.

[2017-09-23 19:26] douglas-reid commented on #1343
@guptasu yeah, i believe this is closely related one of the last bits of dependency handling that we need to address before full builds of mixer from other repos too. thanks for tackling.

[2017-09-23 19:34] douglas-reid commented on #1337
@sdake this was an issue I filed during the community call on thursday. someone requested that we better document how to develop with go tooling, etc.  so, by "use bazel to generate go deps", i meant we should clearly spell out what happens when running `bazel build //...` and how the generated files from such an action are symlinked into the mixer repo dirs and `vendor/`.

A developer's guide is

[2017-09-23 19:39] douglas-reid commented on #1318
I've update the main Mixer concept doc. @mandarjog was going to update the Mixer Config doc.

When that is complete, we will need to decide what/how to update the Mixer Aspect Config doc.

Assigning to @mandarjog for the Mixer Config doc update.

[2017-09-23 23:49] guptasu commented on #1343
Please review https://github.com/istio/mixer/pull/1346.

[2017-09-23 23:59] sdake opened #1347 "Port Mixer to build using CentOS docker-signed container contents"
Mixer currently builds against debian/ubuntu base images.  This results in some incompatibilities when running on CentOS7.4 kernels as the Xenial kernel and CentOS kernel are not 100% compatible.

Instead permit MIxer to build against a CentOS  target OS.

This is part of a larger port of Istio to CentOS described here: https://github.com/istio/issues/issues/56

[2017-09-26 16:38] douglas-reid opened #1352 "Support Jaeger tracing"
With Envoy supporting Jaeger, it is probably time to update Mixer tracing options to also support Jaeger trace exports.

[2017-09-26 16:43] ZackButcher commented on #1352
Work to be done:
1. Shift Mixer to read tracing config from the same place as Envoy (today on k8s, a configmap)
    - this will also require some slight logical changes to Zipkin logic inside of `server.go` - we expect a full endpoints: `https://zipkin:9411/v1/api/spans` but the configmap only provides `zipkin:9411`
1. Plumb Jaeger stuff through [server.go](https://github.com/istio/mixer/blob/mast

[2017-09-26 18:07] mandarjog commented on #1254
This was a misleading error message. It should have been "unknown attribute". It has been fixed now.

[2017-09-26 18:07] #1254 closed

[2017-09-26 18:09] mandarjog commented on #1318
This https://github.com/istio/istio.github.io/pull/527 is out for review.

[2017-09-26 18:30] sakshigoel12 commented on #1092
we are 90% there. rest can complete right after 0.2 is out.

[2017-09-26 18:31] guptasu commented on #1092
Yes. we should. I can prepare the PR and push it after 0.2

On Tue, Sep 26, 2017 at 11:30 AM, Sakshi Goel <notifications@github.com>
wrote:

--
*Thanks,*
*-SG*

[2017-09-26 18:37] sakshigoel12 commented on #1262
not blocking the release

[2017-09-26 18:38] #1282 closed

[2017-09-26 18:38] douglas-reid commented on #1331
OK to close?

[2017-09-26 18:39] guptasu commented on #1331
yes. fixed

[2017-09-26 18:39] #1331 closed

[2017-09-26 18:44] douglas-reid commented on #100
BTW, there is a PR that is out (and has been for awhile) to the pubref repo that would fix this issue. Perhaps we should start voting for its inclusion.

[2017-09-26 22:01] ozevren opened #1355 "[MixerIL] StringTable size is limited by a constant."
The StringTable used by MixerIL interns incoming strings at runtime. The StringTable is currently using a fixed size, as it was originally intended for compile-time only constants.

[2017-09-26 22:11] geeknoid commented on #1355
And since now it's actually used for dynamic per-request strings, we could run out of room.

[2017-09-27 21:02] mandarjog opened #1359 "Validate attributes at first opportunity"
Mixer does not validate attributes sent by Proxy or attributes generated by an adapter with the attribute vocabulary.

This means that
1. Validation code is strewn all over the code base.
2. We assume validity and incur a `panic` if an incorrect type is sent.

This was seen in https://github.com/istio/mixer/pull/1342

[2017-09-27 21:25] sakshigoel12 commented on #1315
Sometime next week. Martin to help

[2017-09-27 21:27] sakshigoel12 commented on #1314
There is a draft. We need to put it on github in markdown. ETA - next week

[2017-09-27 21:52] mandarjog opened #1361 "Mixer AccessLogs"
Mixer should emit access logs for every grpc request it serves.
1. AccessLog should be performant so that they can be enabled in production at high volume.
    This is typical for other components / proxies. Envoy produces access logs, and it is designed to be used in production.
2.  AccessLog should contain all normal fields.
   `src, dest, check|report, requestSize, respSize,  checkResp, quotaRe

[2017-09-28 03:16] douglas-reid commented on #1361
Questions:
- for Report()s, it seems we care about different fields than check. is that correct? the "normal" in this issue description isn't quite clear.
- should logs generation itself be configurable (similar to envoy access logs config) ?

It seems like in the short term, we could transition to something like: https://github.com/grpc-ecosystem/go-grpc-middleware/tree/master/logging. Augmenting

[2017-09-28 18:30] ldemailly commented on #1184
related to https://github.com/istio/istio/issues/632

[2017-09-28 23:26] sakshigoel12 commented on #1298
@douglas-reid  can you update release milestone

[2017-09-29 02:20] kyessenov commented on #1155
/assign @kyessenov

[2017-09-29 02:39] kyessenov commented on #1333
This belongs to the general area of "scripting proxy actions". Changing the header is one such action, and can be used to shape the traffic.

[2017-09-29 06:22] #1355 closed

[2017-09-29 13:27] geeknoid commented on #1143
Sunny, what's the state of this?

[2017-09-29 13:27] geeknoid commented on #1138
What's the state of this?

[2017-09-29 13:28] geeknoid commented on #1104
Has this been done?

[2017-09-29 14:59] guptasu commented on #1143
@geeknoid this is done PR https://github.com/istio/mixer/pull/1242

[2017-09-29 15:00] #1143 closed

[2017-09-29 16:16] ZackButcher commented on #1104
I never got around to this, we should add it, probably shouldn't block the release though.

[2017-09-29 16:21] douglas-reid commented on #948
Marking as resolved.

[2017-09-29 16:21] #948 closed

[2017-09-29 16:22] ozevren commented on #1267
I believe this is the same issue as #1254. After discussing with Mandar, I am resolving this.

[2017-09-29 16:24] #1267 closed

[2017-09-29 16:24] douglas-reid commented on #1002
This can be closed. We should track the move of APAs in a 0.3 issue.

[2017-09-29 16:24] #1002 closed

[2017-09-29 16:25] ZackButcher commented on #436
We have suites for adapter testing for 0.2, but shifting this back to 0.3 to cover the further test suites we want to build.

[2017-09-29 16:26] douglas-reid commented on #689
Closing this for now. Adding to ingress is something we can tackle if there is any demand.

[2017-09-29 16:26] #689 closed

[2017-09-29 16:26] mandarjog commented on #769
Issue moved to [istio/mixerclient #133](https://github.com/istio/mixerclient/issues/133) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-29 16:26] #769 closed

[2017-09-29 16:27] douglas-reid commented on #763
Moving to Nebulous Future. I think there is a lot of potential here for something cool (with xDS + Mixer), but this is not a critical task.

[2017-09-29 16:28] ZackButcher commented on #90
MVP was shipped, we can open up new issues for further work.

[2017-09-29 16:28] #90 closed

[2017-09-29 16:29] douglas-reid commented on #319
Closing this, as we have updated podspec, etc.

[2017-09-29 16:29] #319 closed

[2017-09-29 16:29] #272 closed

[2017-09-29 16:33] ZackButcher commented on #579
This is done for 0.2, we can open new issues in 0.3 to cover a nicer experience for it.

[2017-09-29 16:33] #579 closed

[2017-09-29 17:07] ldemailly commented on #1267
yes this is fixed

[2017-09-29 18:01] jmuk opened #1365 "build broken with bazel 0.6.0"
I've gotten build errors as follows:

[code]

Seems this is because of bazel 0.6.0?

I had another environment which still stays on bazel 0.5.4. Succeeded to build, but started reporting the same error after upgraded to 0.6.0.

[2017-09-29 18:06] douglas-reid commented on #1365
Is `rules_go` ready for 0.6.0 ?

[2017-09-29 18:09] jmuk commented on #1365
I don't know. Needs more investigation.

[2017-09-29 18:10] kyessenov commented on #1365
Beware of the change in go to 1.9. We've been holding off in pilot after the release to update rules.

[2017-09-29 18:14] sakshigoel12 commented on #1316
@mandarjog can you add an ETA

[2017-09-30 20:15] geeknoid commented on #1359
I think we need to augment the attr package with knowledge of attribute manifests so that it can provide a typed experience around attributes.

[2017-10-02 16:16] ozevren opened #1369 "Mixer IL evaluation has slow memory leak."
The string table that interns strings in the Mixer IL is slowly accumulating runtime data. This data gets flushed when the expression cache entries get evicted. In case of steady state of no config change and large cache-size, the interned strings will accumulate.

[2017-10-02 17:40] ldemailly commented on #1369
I'm still not clear exactly which strings end up in that table

can you give an example of the worst case where it would grow unbounded ? (eg if for instance the URI or a cookie would be in that table)

[2017-10-02 17:46] mandarjog commented on #1369
The string intern table interns *all* strings. For example this includes *values* of all headers, which can be unbounded.

One of the reasons why this is needed is because the IL uses references  from the table instead of direct string refs. This is an intermediate fix.

Other solutions include having two intern tables. One that is request scoped that is auto purged at the end of a request. The ot

[2017-10-02 18:14] ldemailly commented on #1369
@mandarjog I have been trying to get a precise answer to this question

@ozevren in #1338 was saying "No, not all of it. Only the ones used when evaluation a particular expression that is needed to resolve the request."

which is it :-) ?

[2017-10-02 21:32] ozevren commented on #1369
As the code stands today, the IL evaluator will not intern strings eagerly.
It will intern them as it encounters them during string evaluation. For
example, if you have this expression: 'request.headers["a"] |
request.header["b"] | "c"', then the initial interned strings will be
"request.headers", "a", "b", and "c". As an example, assume the first
incoming request has "request_headers = {"a": "ava

[2017-10-02 21:38] kyessenov commented on #1369
Have you considered a session context for the evaluator? Assuming Mixer establishes a session for a proxy, the table can be split into both a global inline table (for global constants) and a local inline table, to reuse strings across subsequent Check calls.

[2017-10-02 23:11] ldemailly commented on #1369
can you just use an LRU ?

[2017-10-02 23:53] ozevren commented on #1369
My intention, for the short term, is to perturb the code as little as
possible. Adding an LRU or establishing a context/session will touch a
large section of the code. For the longer term, my intention is to make use
of the fact that the API already operates on a string-table model and use
the string table in the API directly, if possible, in the evaluation (thus
avoiding conversions that is causi

[2017-10-03 15:05] ldemailly commented on #285
I agree the | "unknown" needed all over isn't right

[2017-10-03 21:29] myidpt opened #1373 "Mixer rule deletion does not take immediate effect in istio.io demo"
Following https://istio.io/docs/tasks/security/secure-access-control.html. After deleting the deny rule, I can not load the "details" until >10 minutes later. However, the deletion takes effect immediately in https://istio.io/docs/tasks/security/basic-access-control.html. According to @mandarjog, Mixer client does about 10min expiration caching on attributes other than labels. That could explain t

[2017-10-04 06:23] RoeyMaor commented on #285
The problem is that for many VALUE_TYPEs default value literals cannot be created. perhaps the approach should be the same as with the "ip" function defined here: https://github.com/istio/mixer/blob/535eb564667cef6aed334cb4f5e967a104768387/pkg/expr/func.go that allows creating IP_ADDRESS literals from strings. Maybe part of the solution is to define similar functions for the other VALUE_TYPEs that

[2017-10-04 14:03] mandarjog commented on #285
Forcing the user to give default value for an expression is similar to forcing a user to catch an exception. It is explicit and there are no surprises.

`ip` or other type conversion functions let you specify a typed default values, including create a typed literal. We are adding all those shortly, however that does not address the usability issue.

If that is turned into a warning, the

re: Crash

[2017-10-04 16:37] #1262 closed

[2017-10-04 17:20] kyessenov opened #1375 "Strict validation and config synchronization in Mixer"
For check policies related to auth, it's important to:
1. ingest all config prior to serving the traffic
2. not start if the validation fails for some important policies until the operator is aware of the error

[2017-10-04 18:44] douglas-reid commented on #768
I'm going to close this. Issues 2-5 have been addressed. Issue 1 has been partially addressed (removing method). API Management support will complete Issue 1.

[2017-10-04 18:44] #768 closed

[2017-10-04 20:55] geeknoid commented on #1318
This is all happy.

[2017-10-04 20:55] #1318 closed

[2017-10-04 20:59] jmuk commented on #1155
#1363 fixes this -- at least on my environment. Closing.

[2017-10-04 20:59] #1155 closed

[2017-10-04 23:07] jasminejaksic commented on #1316
Can you please complete this by COB tomorrow?

[2017-10-04 23:23] jasminejaksic commented on #1317
Doug, what's still pending and when do you think it will be completed?

[2017-10-04 23:29] douglas-reid commented on #1317
There are two related outstanding docs:
- Adapter Developer Guide
- Template Developer Guide

I've been waiting for those to be finalized and published before figuring out if we need a third document and what that third document will look like. I don't believe this is blocking the release however.

[2017-10-04 23:52] jasminejaksic commented on #1317
When do you want to add the developer guides to the istio.io site?

[2017-10-04 23:54] sakshigoel12 commented on #1319
@douglas-reid  can we add an ETA

[2017-10-04 23:54] sakshigoel12 commented on #1314
@guptasu is getting mark down done. ETA tomorrow.

[2017-10-05 00:02] sakshigoel12 commented on #419
@guptasu said he is working on markdown. ETA tomorrow.

[2017-10-05 00:21] sakshigoel12 commented on #571
@douglas-reid how far are we on this?

[2017-10-05 01:01] mandarjog commented on #1316
Only `listchecker` documentation remains in the end user configuration area.
mtail is working on it.

[2017-10-05 01:34] ldemailly commented on #285
IMO it's not similar because the compiler doesn't tell you you should catch said exception
the default/least surprise (and smallest config input/least inconvenience to authors)
is to have 1 or 2 level of default (per type and optional per attribute) and only throw if specifically asked to throw vs the other way around (ie a `throw_if_nil(attribute.foo)`)

[2017-10-05 03:31] geeknoid commented on #1316
Covered by issue #570 in the doc repo.

[2017-10-05 03:31] #1316 closed

[2017-10-05 16:13] douglas-reid commented on #1317
I don't think the current plan is to add the developer guides to the istio.io site at all. We are putting links to the guides in the docs, however.

[2017-10-05 16:31] #1373 closed

[2017-10-06 11:21] guptasu commented on #419
PR out https://github.com/istio/mixer/pull/1379

[2017-10-06 11:22] guptasu commented on #1314
PR out https://github.com/istio/mixer/pull/1379

[2017-10-10 00:06] yusofg2 commented on #1365
I am trying to build mixer and hit this issue. Any workarounds or ETA for a fix?

[2017-10-10 01:08] hklai opened #1387 "Incomplete tests: Metrics - StackDriver"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Metrics - StackDriver_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations

[2017-10-10 01:10] hklai opened #1388 "Incomplete tests: List Checking"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_List Checking_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

- C

[2017-10-10 01:11] hklai opened #1389 "Incomplete tests: Mixer Expression Language"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Mixer Expression Language_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendat

[2017-10-10 01:12] hklai opened #1390 "Incomplete tests: baseline quota support"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_baseline quota support *_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendati

[2017-10-10 01:13] hklai opened #1391 "Incomplete tests: Check Caching"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Check Caching_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

- C

[2017-10-10 01:15] hklai opened #1392 "Incomplete tests: Config Validation"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Config Validation_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

[2017-10-10 01:16] hklai opened #1393 "Incomplete tests: OPA"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_OPA_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

- Come up wit

[2017-10-10 01:17] hklai opened #1394 "Incomplete tests: Quota (redis)"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Quota (redis)_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

- C

[2017-10-10 01:19] hklai opened #1395 "Incomplete tests: Envoy metrics"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Envoy metrics_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

- C

[2017-10-10 01:20] hklai opened #1396 "Incomplete tests: Readiness and Liveliness"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Readiness and Liveliness_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendati

[2017-10-10 01:21] hklai opened #1397 "Incomplete tests: Statusz / status sub resource"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Statusz / status sub resource_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recomme

[2017-10-10 01:22] hklai opened #1398 "Incomplete tests: Adapter monitoring"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Adapter monitoring_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

[2017-10-10 01:23] hklai opened #1399 "Incomplete tests: Mixer and Adapter Monitoring"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Mixer monitoring_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

[2017-10-10 01:24] hklai opened #1400 "Incomplete tests: Standardized logging and error handling with dynamic log level changes"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Standardized logging and error handling with dynamic log level changes_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assign

[2017-10-10 16:07] kaledj commented on #1365
@yusofg2 For a workaround, I downgraded to bazel 0.5.4 (https://github.com/bazelbuild/bazel/releases/tag/0.5.4) per the original comment, and was able to build mixer

[2017-10-10 17:04] jmuk commented on #1365
Yeah, better to keep using 0.5.4 for the time being. That's what I'm doing too.
#1366 should fix the issue, but we decided to hold it due to our release schedule.

[2017-10-10 17:43] #1319 closed

[2017-10-10 22:23] guptasu opened #1403 "warning when building adapters that are in remote repository"
Warnings when building adapters outside Mixer repo

Sample repo where to build from : https://github.com/guptasu/remote-adapter
[code]

[2017-10-12 00:47] jmuk opened #1411 "remove old storage layer"
We now have two storage layers, the older one based on `store.KeyValueStore` and the new one `store.Store2`. Let's remove the older one completely.

This will also require some part of code relying on old storage, like `pkg/config`'s Manager or apiserver too.

[2017-10-12 17:38] jmuk commented on #1411
#1412 is the first one.

[2017-10-12 23:30] geeknoid opened #1420 "Add standard RequestID and Service fields to every instance objects"
In order to allow proper multi-tenant behavior, Mixer should deliver the service name to adapters, independent of operator-level config. This avoids one service operator impersonating another.

We also want to include a request id, to assist complex adapters in understanding that a number of individual calls to HandleXXX methods are in fact related. This can help with cross-call caching.

Finally,

[2017-10-12 23:37] mandarjog commented on #1420
On a related note, we  should also add `destination_service` or (`service_id`) to the mixer protocol ? It is a fundamental part of the protocol, but it is lost in the current protocol.

[2017-10-13 21:07] douglas-reid commented on #1420
To clarify, is `RequestID` distinct from the http notion (and our attribute supported notion) ? In other words, is this a *Mixer* Request ID ?

How do we envision `RequestID` and `DedupID` interacting?

[2017-10-13 21:15] geeknoid commented on #1420
RequestId is intended to capture the whole scope of an operation from the
proxy's perspective. All the Check/Report calls made by the proxy on behalf
of a single "event" would have the same ID. DedupID is about a single call
to Mixer, to provide idempotence for state mutation of that single call. So
it's a different context.

Although I'm convinced that the Service field is critical to add, I'm no

[2017-10-16 02:05] #1365 closed

[2017-10-16 18:29] mandarjog opened #1439 "Rename `Rule` to `ActionRule` for consistency."
Frank Budinsky: Although "rule" is short and sweet, this is a terrible name within the context of the whole of Istio. For consistency with `RouteRule` (the rule for activating a route) I would suggest `ActionRule` (the rule for calling an action)

This is a breaking change, We will first add an alias, and then remove `rule`.
Gives us a way to practice deprecation :-)

cc: @frankbu

[2017-10-16 18:35] linsun commented on #1439
haha I love your optimistic :)

[2017-10-16 19:33] rshriram commented on #1439
which rule is this? how about PolicyRule and TelemetryRule ?

[2017-10-16 21:26] jmuk opened #1442 "upgrade go to 1.9?"
`rules_go` dependency has been done (for bazel 0.6.1 support), which enables us to upgrade go version from 1.8.3 to 1.9.1.

When and how do we do this update?

[2017-10-16 21:58] jmuk commented on #1442
- I don't see any breaking changes from 1.9 release notes and 1.9.1 updates, the existing mixer code should work as-is
- `bazel test //...` succeeds with go 1.9.1
- benchmark tests are not changed significantly

[2017-10-17 13:41] frankbu commented on #1439
This is the rule for calling mixer - for policy and telemetry. I suggested `ActionRule` because in mixer terminology, `Actions` are used to make calls to mixer, e.g.:
[code]
The `match` and `actions` fields of an `ActionRule` are very consistent with `RouteRule`'s `match` and `route` fields.

[2017-10-17 17:52] douglas-reid commented on #1442
I think we should do this now that we are past the 0.2.x releases.

[2017-10-17 17:54] douglas-reid commented on #1420
Should `RequestID` be set as part of the context passed into adapters ?  Seems like we already have a way to do that, and setting in the context is arguably appropriate.

[2017-10-17 18:05] douglas-reid opened #1448 "Need generic env attribute generation adapter"
cc @andraxylia @ldemailly @mandarjog @guptasu

In testing VM TCP scenarios, it became obvious that Mixer's `kubernetes` adapter was insufficient for handling attribute generation for services running outside of a kubernetes cluster. There are a number of potential solutions, including making the `kubernetes` adapter more robust (add Endpoints / Services cache).

However, there is probably a need f

[2017-10-17 18:21] kyessenov commented on #1448
The long term solution is to deprecate kubernetes APA and let pilot enter the environment-specific attributes. This is blocked on two things:
1. inability to forward attributes through TCP
2. inability to pass-on attributes to mixerfilter that are not pure strings.

[2017-10-17 18:28] linsun opened #1451 "deleting a mixer rule takes a long time to take effective"
Applying seems fast enough but deleting can take 20 mins....   I'm doing the steps with mixer-rule-deny-label.yaml  and mixer-rule-deny-serviceaccount.yaml , see some details in this PR:

https://github.com/istio/istio/pull/1159#issuecomment-337270116

[2017-10-17 18:29] linsun commented on #1451
https://istio.io/docs/tasks/security/basic-access-control.html#access-control-using-denials & https://istio.io/docs/tasks/security/secure-access-control.html#access-control-using-denials

[2017-10-17 18:41] douglas-reid commented on #1448
That long-term solution may or may not preclude the need for simple Mixer adapter that can produce operator-specified attributes from inputs (without reliance on external components). For instance, what if someone wants to use Mixer w/o Pilot?

[2017-10-17 18:47] mandarjog commented on #1420
What about `mesh-id`, we need to patch it thru as well.

[2017-10-17 19:06] jmuk commented on #1442
https://github.com/istio/mixer/pull/1452

[2017-10-17 21:11] jmuk commented on #1442
resolved

[2017-10-17 21:11] #1442 closed

[2017-10-18 00:53] apicl opened #1455 "Feature request: Please provide support google.protobuf.Struct for a Mixer data type"
I previously present the design doc Istio Auth Attributes (http://goo.gl/9dokCX). We need to define request.auth.claims to be google.protobuf.Struct. Can someone please add google.protobuf.Struct as a mixer data type.

Note that google.protobuf.Struct is an open source proto. See https://github.com/google/protobuf/blob/master/src/google/protobuf/struct.proto

[2017-10-18 01:13] #1343 closed

[2017-10-18 01:17] manlinl commented on #1220
+1, this is pain when working with svcctrl custom template

[2017-10-18 01:26] manlinl opened #1456 "Mixer panics if attribute is absent for strongly typed field in template"
For example
message Template {
   string api_operation = 1;
}

In instance config

Spec:
   api_operation = api.operation | ""

Mixer panic saying converting nil interface{} as string if api.operation is absent in request (via mixc tool).  The expected behavior is if api.operation isn't in attribute bag, empty string is assigned to api_operation field.

[2017-10-18 01:28] manlinl commented on #1456
This may be related to issues:

https://github.com/istio/mixer/issues/1220
https://github.com/istio/mixer/issues/1216

[2017-10-18 03:06] geeknoid commented on #1420
Yep, very true.

Plumbing through the service name provide multi-service multi-tenancy.
Plumbing through mesh id gives multi-mesh multi-tenancy support.

Should we combine the mesh id and service name into a single identifier
given to the adapter? The point is to uniquely identify the service and
just using the service name is insufficient for this. So forcing the mesh
id in there unilaterally wou

[2017-10-18 05:33] ldemailly commented on #1448
I think annotations would be good, maybe instead of going directly to k8s mixer should get service state updates from pilot

[2017-10-18 05:36] kyessenov commented on #1448
Using Mixer w/o Pilot requires some sort of environmental binding to understand deployment topology, which is basically half of Pilot.

[2017-10-18 20:25] guptasu commented on #1456
Thanks for reporting. I can take a look into this. Do you happen to have a call stack ?

[2017-10-19 00:33] guptasu commented on #1420
@geeknoid so something like <meshId>/<service name> ?

Questions :
* Do we have some existing convention of doing such concatinatio in other places inside istio (may be some attributes) ? What is the separator used ?
* source.service the correct attribute to fill in the Service field in instance ?
* For mesh ID, where does that information live, I am assuming it is not in the request attribute bag

[2017-10-19 00:45] jmuk opened #1461 "bazel 0.7.0 is released, said "too new, expected at most 0.6.1""
bazel 0.7.0 is now ready, our check script says about at most 0.7.0. It can build actually though.

It is a bit painful to see this message every time a new version of bazel is released; I think the restriction is a bit too strict.
Maybe we can remove the max_version check for now -- the check should be recovered when we find something is found broken on a specific version of bazel.

[2017-10-19 09:41] guptasu opened #1463 "Document how to run a custom Mixer (custom adapters or templates) in k8s"
Adapter developer guide only explains how to build, run and test a custom mixer locally. But users do not have instruction on now to now run it in k8s. This is operators job but adapter developer would also want to know this in order to verify their changes on k8s.

We need some documentation for operator on istio.io on how to do that and then link it from Adapt Dev Guide.

[2017-10-19 09:42] guptasu commented on #1463
@douglas-reid @mandarjog @ZackButcher @geeknoid

[2017-10-19 09:48] guptasu opened #1464 "Document+associated test on how to setup and test remote adapters"
Adapter developers want to build adapters in their own remote repo. To make them successful we need the following:

1. Documentation on how to do build and write test inside remote adapter.
2. We also need an integration test so that the documentation (or any sample) does not become outdates as we change Mixer. Based on my recent work with bazel, it seems remote adapter story is very sensitive to

[2017-10-19 09:51] guptasu opened #1465 "Mixer adapter ecosystem"
We need to give adapter developers a place to publish their adapters. Apigee is asking and very soon we will have svccltr and more.

[2017-10-19 09:52] guptasu commented on #1465
I can drive this if no one has already started work on this.

[2017-10-19 09:53] guptasu commented on #1465
We also need a similar story for template ecosystem.

[2017-10-19 17:02] douglas-reid commented on #1465
@guptasu please hold on this. there is a repository refactor going on. that refactor will determine all of the details for where the repository should live.

[2017-10-19 17:08] douglas-reid commented on #1448
@kyessenov That's not entirely true. Think about scenarios where services want to directly call into Mixer, for checks or reports. This isn't just a proxy->mixer scenario. Mixer should be usable even without the other bits of Istio, ideally.

In any case, I think there are several use cases for having a generic template for attribute derivation from a static config file (whether or not that is gen

[2017-10-19 17:11] andraxylia commented on #1448
What is the order of precedence if both pilot provides it, and mixer derives it?

[2017-10-19 17:16] douglas-reid commented on #1448
@andraxylia right now, Mixer wins. that was not the intention. I'm currently working on a PR to change that to be received attributes take precedence over those produced by adapters.

[2017-10-19 17:19] andraxylia commented on #1448
@douglas-reid this sounds good, thanks! Please link it here when you have it, for reference.

[2017-10-19 17:23] theganyo commented on #1465
What is the goal here? I'm not certain that expecting vendors to use a central repo for adapters is reasonable.

[2017-10-19 18:04] guptasu commented on #1465
The goal is to make it easy for Istio users (operators who want to use non built-in infrastructure backend via their adapters) to discover adapters for different infrastructure backends.

Hopefully something similar to https://github.com/grpc-ecosystem

[2017-10-19 19:02] jmuk commented on #1451
Lin, can you write down the steps to reproduce the way?  I did the following steps,

1. `% kubectl create -f install/kubernetes/istio-auth.yaml`
2. (some other addon installations, grafana, sourcegraph, prometheus, zipkin)
3. `% kubectl apply -f <(istioctl kube-inject -f samples/bookinfo/kube/bookinfo.yaml)`
4. see /productpage on the browser
5. `% istioctl create -f samples/bookinfo/kube/route-ru

[2017-10-19 19:08] jmuk commented on #1451
also wondering how mixer log looks like. Once a new operation on the rules (create/delete) arrives to mixer, mixer will print out logs like
[code]

[2017-10-19 19:09] linsun commented on #1451
yes, that is correct, for step 13, the removal of mixer-rule-deny-label.yaml doesn't take effective right away... I had to wait 20 mins in my case.  I also repeated the test with mixer-rule-deny-serviceaccount.yaml by following example here:  https://istio.io/docs/tasks/security/secure-access-control.html#access-control-using-denials and have same issue with deleting of the rule doesn
't take effe

[2017-10-19 19:42] costinm opened #1466 "Create a default set of prometheus alerts"
@nmnellis commented on [Wed Oct 18 2017](https://github.com/istio/issues/issues/99)

**FEATURE REQUEST**
**Describe the feature:**

For users that have Prometheus installed, document a set of alerts that an istio user might find useful after istio is running. Some metrics may need to be created to effectively monitor istio.

A short list of nice to have monitors:
* High response times between two

[2017-10-19 21:15] #1461 closed

[2017-10-19 22:05] nmnellis commented on #1466
@douglas-reid yeah ill start on a Document. Is there any documentation about the existing metrics that are exposed to grafana? If not i think it would also be beneficial to list the metrics listed as well.

[2017-10-19 22:13] douglas-reid commented on #1466
@nmnellis Awesome!  Please let me know when you've started and I will hop in to help contribute (if you don't mind).

There isn't any documentation on the metrics, other than the config for them that exists in the various istio/istio yaml files (which are built from: [istio-mixer.yaml.tmpl](https://github.com/istio/istio/blob/master/install/kubernetes/templates/istio-mixer.yaml.tmpl)). Look for an

[2017-10-19 22:16] geeknoid commented on #1420
We discussed this and decided that we don't want the mesh id. Mixer is designed to operate within the context of a single mesh. It needs to support multi-tenancy between services, but not multi-tenancy between meshes. So let's just drop all notion of mesh id.

As for service, I think we want destination.service.  @mandarjog ?

[2017-10-19 22:26] douglas-reid commented on #1420
Can/should we use the `IstioService` struct that is used elsewhere (Pilot) perhaps?

is the plan `context.withValue(ctx, "destination", dest)` ? or are we going to modify instances?

[2017-10-19 22:50] geeknoid commented on #1420
i'd rather extend instances instead of passing magic undiscoverable values
in the context. Do you expect a problem with doing this?

As for IstioService, that's an interesting question. We apply policies
against plain service names, so it feels as though this is the only thing
we should pass to the adapters. Do you think there's a need for adapters to
see more than what operator see in this contex

[2017-10-19 22:51] guptasu commented on #1420
@douglas-reid IstioService is nicely structured and I think we will be able to fill it up on the mixer side. attributes source.(namespace | domain |name) should be sufficient.

However, [IstioService is inside proxy package](https://github.com/istio/api/blob/3a618e7f283abcacef70193834e5b06ecfea8bef/proxy/v1/config/route_rule.proto#L142), so unless we move it to a generic location we cannot use it

[2017-10-19 23:13] jmuk commented on #1451
please let me know what the mixer log says; when does the "published snapshot" log appear? I think that it's delayed 20 minutes.

It is still unclear to me why that's delayed so long, maybe kubernetes system doesn't deliver the delete event to mixer?

What will happen when you do after step 12 (before 20 minutes wait)?
[code]

This shows the kubernetes representation of the mixer rule; is it there

[2017-10-20 12:24] geeknoid opened #1470 "Add a sidecar to Mixer"
We want to add a proxy sidecar to Mixer in order to gain all the usual benefits of the sidecar, including mTLS, metrics, telemetry, quotas, etc.

The essence of this work is to figure out how to have the sidecar invoke its attached Mixer directly for Check and Report, rather than invoke its own endpoint recursively.

[2017-10-20 12:33] geeknoid opened #1471 "Create a performance measuring infrastructure"
Introduce the ability to have presubmit perf tests that block checkins based on perf regressions.

This implies that we need to be able to reliably measure performance with reasonable accuracy. It also implies we have a mechanism to easily track baseline performance numbers for a suite of tests.

A low-tech way to track performance baselines would be a text file in the repo that lists the individu

[2017-10-20 12:40] geeknoid opened #1472 "Create an end-to-end perf test for Mixer."
We want to be able to measure the real-world performance of Mixer under load. This work involves:

- Creating a real-world traffic flow to Mixer

- Creating a real-world configuration for Mixer including expected set of selectors and expression evaluation.

- Selecting a set of adapters representing real-world performance. Maybe we'll need a custom perf test adapter that can simulate the latency a

[2017-10-20 12:48] ZackButcher commented on #1470
From previous discussions the team has had: if we run Mixer's sidecar with Check and Report disabled we should avoid any call cycles. This gets us mTLS and network resiliency features for very little effort.

I think we should ship that first, then evaluate strategies for avoiding cycles in Check and Report afterwards.

[2017-10-20 13:20] geeknoid opened #1473 "Implement support for regex attribute matching"
The attribute protocol between proxy and Mixer has support for regex matches, but Mixer currently doesn't produce those. We need to extend the attribute package used in Mixer to capture regex matches such that they're available to the proxy.

Before this feature is enabled in Mixer, the corresponding feature in the proxy needs to be enabled as well: https://github.com/istio/mixerclient/issues/175

[2017-10-20 13:29] geeknoid opened #1474 "Add support for Check result caching"
Introduce a cache in Mixer to elide calls into adapters for CHECK variety adapters. We can cache evaluation results based on the input instances given to the adapter. This supports need to be configurable per adapter (on/off, cache size, TTL).

Additionally, or instead of, we could put a cache higher up in the pipeline that's based on input attributes. Based on the set of incoming attributes to Mi

[2017-10-20 13:37] ZackButcher commented on #1470
Cycles still exist in that scenario, right? Consider a Mixer instance configured to report to a metrics backend also in the mesh (i.e. it has a proxy in front that calls Report too):

A `Report` request comes in to Mixer; it's intercepted by Mixer's sidecar, forwarded to Mixer, and Mixer processes and responds. Mixer's sidecar then sends a `Report` about that call to the Mixer its in front of. Tha

[2017-10-20 13:37] geeknoid opened #1475 "Ad support for report batching in Mixer"
The interface for REPORT adapters supports receiving an array of instances at a time, but Mixer currently only delivers single items. Given that Mixer receives reports in batches, it would likely be more efficient for Mixer to process an incoming batch of reports as a whole and deliver that whole batch to the adapter en masse.

We should evaluate whether this would actually be a win. There will be

[2017-10-20 13:42] geeknoid commented on #1470
​I'm assuming that backends are not in the mesh, which I think makes
everything work. We don't support this composition today already.

Once we have the sidecar working for Mixer, we can then later introduce
support for the sidecar on Mixer backends. As we discussed, ultimately
supporting that case will end up just being a matter of configuring the
system such that when the backend's sidecar calls

[2017-10-20 13:46] geeknoid opened #1476 "Deeply integrate MixerIL with attribute protocol word lists"
There's an opportunity to improve MixerIL performance by avoiding copying strings around so much, and directly reusing the word lists from the attribute protocol. There is a global word list and a per-message word list that can be tapped for pre-interned strings.

[2017-10-20 13:48] geeknoid opened #1477 "Move attribute producing adapters to the new adapter model."
We need to move the APAs to the new adapter model and then proceed to expunge all old adapter model code from the codebase.

[2017-10-20 13:50] geeknoid opened #1478 "Add support for submessages in templates"
We need to support the use of submessages in template definitions in order to substantially increase the power and flexibility of our templating system and adapter model.

[2017-10-20 13:52] geeknoid commented on #1478
As we discussed previously, we'd like to enable systematic support to allow submessages to be instantiated inline in the YAML, or via reference. Via reference allows the same submessage to be reused in multiple places, which is useful for things like monitored resources.

[2017-10-20 13:57] geeknoid opened #1479 "Add support for enums in templates"
We want to increase usability by supporting enums as a first class thing in templates, allowing better YAML for the operator with better docs.

[2017-10-20 14:00] geeknoid opened #1480 "Enable template fields to be of any supported attribute type"
It should be possible to specify that a template field be of any type that we support for attributes. IP addresses, DNS host names, etc. As it is, we have a fractured type system where we support attributes of a particular type but can't consume them as adapter inputs.

[2017-10-20 14:03] geeknoid opened #1481 "Support template extension over time"
We must make it possible for fields to be added to a template over time in a backward compatible way.

At the very least, this implies making it possible to denote fields as being optional such that the operator doesn't have to specify a value for these fields. This allows new optional fields to be added to any template.

Maybe we allow template authors to specify defaults for optional fields?

[2017-10-20 14:07] geeknoid opened #1482 "Auto-generate nop and denier adapters"
In order to truly support a distributed Mixer build, where templates and adapters come from far-flung repos, we need to auto-generate the nop and denier adapters.

Architecturally, we can chose to actually generate these adapters. Or it might be simpler to directly build those adapters into Mixer and make them slightly magical such that they can automatically be used with all known applicable temp

[2017-10-20 15:42] costinm commented on #1470
I believe there is a PR already on pilot for this ? However it doesn't include sidecars for prometheus/graphana/etc yet.

[2017-10-20 15:45] costinm commented on #1470
https://github.com/istio/pilot/pull/1444

(Krishna is working on this - it is a P0 for securing all istio components)

[2017-10-20 16:17] ZackButcher commented on #1470
Excellent. Thank's for pointing that out Costin.

[2017-10-20 17:22] jmuk commented on #1477
blocking #1411

[2017-10-20 17:41] geeknoid commented on #1470
Simply slapping a sidecar on Mixer is not sufficient. We need to change
something in the instance of the sidecar to call check/report on the
attached Mixer. Just putting the sidecar without this change will lead to
an infinite loop.
​

On Fri, Oct 20, 2017 at 9:17 AM, Zack Butcher <notifications@github.com>
wrote:

[2017-10-20 18:22] qiwzhang commented on #1470
Mixer filter config has knobs to control call Check/Report or not.   For this mixer side-car proxy,  we just need to turn Check/Report them off.

[2017-10-20 18:35] jmuk opened #1484 "provide the config validator"
Mixer needs to validate the configs, so that the mixer configs are properly formed. This will be done through:
- [ ] the validation through k8s external admission webhook
- [ ] also, another webhook in the same format -- since k8s webhooks are still in alpha status

Its featureset should be:

- [ ] structural validations for the proto format
- [ ] validation of expression languages
- [ ] referenti

[2017-10-20 18:36] jmuk commented on #1484
#1218 does the structural validation through webhook

[2017-10-20 18:40] jmuk opened #1485 "schema validation for mixer config"
kubernetes will support the OpenAPI schema validations for custom resources (see https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation). It can be validated through OpenAPI v3 schema.

This is still in alpha status, but we want to add this to take some part of validations -- this will make the validation more reliable and simpler.

[2017-10-20 18:53] ZackButcher commented on #1470
We _want_ Mixer's sidecar to call Mixer; it just needs to do it over localhost rather than calling the Mixer service (to ensure the request doesn't go through another sidecar in front of Mixer and trigger a cycle).

[2017-10-20 18:57] kyessenov commented on #1470
@geeknoid for the initial attempt, we will be statically configuring Envoy's (without Pilot mostly). It's just a JSON with some templating.

[2017-10-20 19:02] kyessenov commented on #1485
consider using https://github.com/lyft/protoc-gen-validate

[2017-10-20 19:26] jmuk commented on #1485
thanks for the reference! will look into.

[2017-10-20 19:41] guptasu commented on #1420
Chatted with @geeknoid and decided to go with passing a proto object as part of `context` that represent the calls state. It will contain `IstioService` and can later be extended for other items to be passed to the Adapters via the context.

These values are filled by Mixer framework and not operator, therefore keeping them separate than `Instance` kind of make sense. Where everything inside the `

[2017-10-23 19:18] geeknoid opened #1487 "Add an expression cache"
We need to assess whether introducing a cache in front of the expression evaluation logic is desirable or not. If it is, we should add such a cache.

We need to determine whether the overhead of maintaining a cache is worth it. Expressions usually tend to be pretty short, so perhaps caching wouldn't bring us much.

[2017-10-23 19:22] geeknoid opened #1488 "Design standard cache management package"
As we work to improve Mixer performance, we will be introducing a number of caches throughout. We need a centralized & uniform infrastructure for managing these caches. We need an infrastructure where we can control the total size of each cache, the TTL of entries, the automatic collection of metrics to gauge cache efficiency, etc.

Before coding something custom, we should see if such generic cac

[2017-10-23 19:28] geeknoid opened #1489 "Introduce a new logging package"
We want to create a new logging package for use in Mixer, and eventually Istio-wide. This package would overlay on top of glog and embed standard Istio policies. For example, this would capture specific log levels.

A side goal would be to create a layer that reduces the overhead where we can for logging code by providing faster early exits in the case of disabled logging statements.

This issue a

[2017-10-23 19:34] geeknoid opened #1490 "Ensure Mixer's expression language is 100% compatible with CEL syntax"
We want to make sure Mixer's expression language is a pure subset of the CEL grammar.

https://github.com/google/cel-spec/blob/master/doc/intro.md

[2017-10-23 19:36] geeknoid opened #1491 "Introduce support for value comparison to expression language"
We need to have general support for value comparisons within the expression language,  for all types supported by attributes.

[2017-10-23 19:38] geeknoid opened #1492 "Design and implement type conversion functions in expression language"
Figure out the set of useful type conversions within the Mixer expression language and implement conversion functions accordingly.

[2017-10-23 19:41] geeknoid opened #1493 "Introduce regex matching to Mixer expression language"
We should introduce support for regexes within the expression language which can help improve proxy cache efficiency.

See #1473 for the underlying support in the attribute package that will be needed for this to help with caching.

[2017-10-23 19:44] geeknoid opened #1494 "Reassess Mixer command-line options"
We should strive to move as many of the Mixer's command-line options to configuration state instead. It's OK to keep overrides when useful for testing, but most of the stuff we give on the command-line should instead be dynamic in nature and handled through the normal config flow.

[2017-10-23 19:49] geeknoid opened #1495 "Introduce support for interacting with a running instance of Mixe"
We want the ability to dynamically inspect and control a running instance of Mixer and other Istio components. This for things like inspecting counters, controlling log levels, tweaking various parameters, etc.

This functionality has two uses:

- Aid in developing and debugging Mixer
- Aid in operating Mixer, to track down failures or performance issues

As such, we want a user experience that is

[2017-10-23 19:53] geeknoid opened #1496 "Design the Mixer's Direct API"
The Mixer currently exposes an API intended for use by the proxy (the intermediated API). We wish to allow services to directly call Mixer in order to do:

- Custom reporting (metrics, logs, tracing)
- Custom authz checks (permissions on resources)
- Custom quota operations.

We want to design this in the 0.3 timeframe with an eye towards implementation in 0.4. In addition to Mixer's own API, we n

[2017-10-23 19:56] geeknoid opened #1497 "Improve config validation error message quality"
We want to make config error reporting to be top notch. Error reports should be precise (file, line #) and descriptive, with ideally suggestions to the operator on how to repair the problem.

[2017-10-23 20:24] jmuk commented on #740
Is this still for Istio-0.3 milestone?

[2017-10-23 22:10] geeknoid opened #1499 "Introduce adapter timeout tracking"
We need to detect if an adapter has stop being responsive by tracking execution timeouts.

Ideally, we maintain per-adapter configuration state with the max execution time allowed for calls into the adapter. The critical call to check is the runtime HandleXXX call, but it may be best to impose a timeout on all calls into adapters.

When a timeout is found to be triggered, we should log the occurre

[2017-10-23 22:14] geeknoid opened #1500 "Introduce a systematic health-tracking model for adapters"
We need to handle adapter failures in a systematic way. Whether an adapter panics, always returns errors, or constantly times out, we need to have a clear detection, tracking, and recovery plan. If we try to "reboot" the adapter a few times and things still fail, then we can take the adapter out of the running permanently until the operator tells us otherwise.

We need to architect this health-che

[2017-10-23 22:27] geeknoid commented on #1216
Is the title of this issue still appropriate?

[2017-10-23 22:29] geeknoid commented on #10
This is not on the roadmap for now. If Go gains better dynamic code loading abilities, we can reconsider at that time.

[2017-10-23 22:29] #10 closed

[2017-10-23 22:34] geeknoid opened #1501 "Introduce support for generic per-adapter configuration state"
It seems we'll be needing a mechanism to keep some standard per-adapter config that Mixer can use with all adapters. We don't have room to store such configuration in our current config model. This needs to be fixed.

Some example config state we need to track per adapter: #1500 #1499 #44

[2017-10-23 22:36] geeknoid opened #1502 "Add support for operators to control fail open/close behavior for adapters"
We need to introduce generic support to let operator indicate that individual adapter should fail open or close. When an adapter is marked to fail open, Mixer will automatically swallow any errors coming from the adapter.

This is related to #44. This feature can use the per-adapter config from #1501

[2017-10-23 22:51] geeknoid commented on #267
#1495 is replacing this issue.

[2017-10-23 22:51] #267 closed

[2017-10-23 23:39] apicl opened #1503 "//pkg/il/evaluator:go_default_test timeouts during pre-push"
Error message:

//pkg/il/evaluator:go_default_test                                      TIMEOUT in 60.1s

[2017-10-23 23:44] douglas-reid opened #1504 "Update the image in cloudbuild.yaml to support latest bazel"
The istio builder image (`gcr.io/istio-io/istio-builder:0.1`) has an old (no longer working with our codebase) version of bazel installed.

We should get a new image with the proper version of bazel, or revert back to `gcr.io/cloud-builders/bazel`.

[2017-10-24 00:29] guptasu commented on #1420
@geeknoid @mandarjog @douglas-reid Here is an example on how adapter code will use the `context` to get data about the service and may be other information in the future.

https://github.com/guptasu/mixer/commit/9513f4376079f5c484404a9dc338aff459b7c698

Passing the call specific data via context will give adapters a sense of trust in that information. If there is no objection, I can start defining

[2017-10-24 00:49] douglas-reid commented on #1420
a few thoughts:
- we should be careful about `Get()` calls on bags just to add context information. we don't want to dirty attributes just because context is getting updated.
- we need to be consistent re: service name and fully-qualified service name.
- it would be awesome to reuse IstioService from pilot (vs. defining our own). what are the downsides of trying to use that existing definition?

[2017-10-24 01:51] nmnellis commented on #1466
@douglas-reid I started looking at the default metrics you have configured and i noticed that they are not prefixed in prometheus like other alerts. example `request_count`. it would be nice to make the defaults namespaced similar to what kube-state-metrics does (by appending `kube-`) to all its metrics. is this as simple as changing the metrics name?
[code]

[2017-10-24 01:58] nmnellis commented on #1466
Also is there documentation about the data envoy provides to mixer on each call?

[2017-10-24 03:18] douglas-reid commented on #1466
@nmnellis please see https://istio.io/docs/reference/config/mixer/attribute-vocabulary.html for information on attributes available on Report calls.

[2017-10-24 15:40] ozevren commented on #1503
Is there a link to the failing test? evaluator tests run at ~9secs on my laptop. 60 sec timeout implies more than 6x time dilation.

[2017-10-24 15:48] andraxylia opened #1507 "Troubleshooting guide: no data in prometheus"

[2017-10-24 15:56] douglas-reid commented on #1507
We need the following sections, I think:
- Metrics / Logs
- Rate Limits
- CRs / Configuration / Validation
- Expression Language

[2017-10-24 16:36] apicl commented on #1503
https://github.com/istio/mixer/issues/1503

If I "bazel test" locally, it works fine. It failed during the pre-push
phase.

Thanks
Chengliang

On Tue, Oct 24, 2017 at 8:40 AM, Oz Evren <notifications@github.com> wrote:

[2017-10-24 16:49] geeknoid commented on #1420
We should be using the patterned described here:
https://blog.golang.org/context

In particular, we need a NewContext/FromContext pattern. Adapters will call
FromContext to get the payload.

We used to have a custom Context type in our source tree, but I'm unable to
find it in the history given my poor git skills. If you've got better
skills, you can find context.go in the history and use that as

[2017-10-24 17:04] mandarjog commented on #1420
1. Mixer uses `destination.service` as the primary identifier which is `IstioService` sans labels.
2. I am not sure what `context` buys us over adding properly schematized interface with Getters that is reference counted.

If we are passing context anyway for cancellations, We can place this interface in "context" so it will
`func ArgsFromContext(ctx) Args {
}`

[2017-10-24 17:10] mandarjog commented on #1456
@manlinl Can you place the call stack here?

[2017-10-24 17:28] mandarjog commented on #1451
@jmuk I am wondering if this is related to https://github.com/istio/mixer/issues/1373

[2017-10-24 17:32] manlinl commented on #1456
Sorry, I exit browser before saving my response. Here is the backtrace.

(gdb) bt
#0  runtime.gopanic (e=...)
    at /usr/local/google/home/manlinl/.cache/bazel/_bazel_manlinl/08e301ee4ed94ae96bc791a94af69d42/external/go_sdk/src/runtime/panic.go:414
#1  runtime.panicdottypeE (have=, want=, iface=)
    at /usr/local/google/home/manlinl/.cache/bazel/_bazel_manlinl/08e301ee4ed94ae96bc791a94af69d42/ex

[2017-10-24 17:36] jmuk commented on #1451
@mandarjog aw, I see. If that's the case, this is already fixed as 0.2.9?

[2017-10-24 17:39] manlinl commented on #1456
BTW, I have live repro if debug is needed.

[2017-10-24 18:08] geeknoid commented on #1420
I don't understand your #2 point. Can you restate?

On Tue, Oct 24, 2017 at 10:04 AM, mandarjog <notifications@github.com>
wrote:

[2017-10-24 18:39] mandarjog commented on #1420
in `#2` I am arguing against putting every piece of information individually in the `context` using magic keys. We should create a proper interface / struct and have only one magic key that provides all the information that we want to pass along.

[2017-10-24 18:41] geeknoid commented on #1420
​Yes, then we agree. That's what I implied by introducing the NewContext
and FromContext pattern. That's how our old context.go code worked.​

On Tue, Oct 24, 2017 at 11:39 AM, mandarjog <notifications@github.com>
wrote:

[2017-10-24 19:09] guptasu commented on #1420
@mandarjog @geeknoid that is my understanding too. Therefore in the sample PR I have [`CallContext`](https://github.com/guptasu/mixer/commit/9513f4376079f5c484404a9dc338aff459b7c698#diff-3e8fbeb8245f151867bb976b7bc026bcR108) as the only interface (will be proto message) that is tied to single magic key "callcontext". All the data will be inside that wrapper object.

@geeknoid thanks for NewContext

[2017-10-24 19:55] geeknoid commented on #1420
That looks right.

Couple things though:

- Probably should remove references to userIP in the code
- Gotta make sure we're delivering a unique context with each call into
adapters so that there's no accidental interference.

On Tue, Oct 24, 2017 at 12:09 PM, Sunny Gupta <notifications@github.com>
wrote:

[2017-10-24 20:05] guptasu commented on #1420
@geeknoid  oops. `userIP` was a copy paste error. Okie, I will define the proto now and start the work to push data via the context.

Thanks for the discussion everyone.

[2017-10-24 20:19] douglas-reid commented on #1395
I'm going to bump this down to P2, as pushing Envoy metrics into Mixer isn't a critical feature and there is going to be a fair amount of churn related to this path in the near-ish future.

[2017-10-24 20:19] geeknoid commented on #100
How are we doing on this front? Any chance this will be addressed in 0.3? If not, let's just move the item to a different milestone.

[2017-10-24 20:21] douglas-reid commented on #100
no changes recently. although, any changes to the repo structure for the project may alter the impact of this issue.

[2017-10-24 20:58] #115 closed

[2017-10-24 20:59] geeknoid commented on #259
We're adopting the CEL grammar.

[2017-10-24 20:59] #259 closed

[2017-10-24 21:01] geeknoid commented on #381
Dealing with this on a number of fronts, no need for this tracking bug.

[2017-10-24 21:01] #381 closed

[2017-10-24 21:04] geeknoid commented on #382
Addressing this on a number of fronts, no need for this tracking bug.

[2017-10-24 21:04] #382 closed

[2017-10-24 21:06] #419 closed

[2017-10-24 21:13] geeknoid commented on #450
I think the modern way to state this issue is that the expression language needs to have rich enough support to express literals of every supported attribute type, or at least needs to support functions that can take various inputs and return a value of the appropriate type.

[2017-10-24 21:14] geeknoid commented on #534
Please close if this is fully redundant with your ongoing APA work.

[2017-10-24 21:19] geeknoid commented on #664
Covered by #1487

[2017-10-24 21:19] #664 closed

[2017-10-24 21:20] geeknoid commented on #672
Obsolete

[2017-10-24 21:20] #672 closed

[2017-10-24 21:22] geeknoid commented on #717
We now have the flexible template model. We're also looking at providing per-adapter augmentation of delivered state.

[2017-10-24 21:22] #717 closed

[2017-10-24 21:26] geeknoid opened #1508 "Introduce 'instance augmentation' functionality"
We've discussed previously in a few context the need to allow operators to augment instances with custom data, and in fact the general need to let operators mutate existing instances before dispatching them to adapters.

It should be possible for adapter-level configuration to take incoming instances and push custom state into the adapter alongside the instance (for example, by filling some canoni

[2017-10-24 21:27] geeknoid commented on #718
We're doing this kind of behavior with APAs which are a big focus of the 0.3 work.

[2017-10-24 21:27] #718 closed

[2017-10-24 21:48] geeknoid commented on #803
Closing for now.

[2017-10-24 21:48] #803 closed

[2017-10-24 21:53] geeknoid commented on #1475
See #849 for ideas on necessary config for this, and see #1501 about supporting generic per-adapter config.

[2017-10-24 21:54] geeknoid commented on #849
Covered by #1475

[2017-10-24 21:54] #849 closed

[2017-10-24 21:57] #921 closed

[2017-10-24 21:58] geeknoid commented on #924
Covered by #1470

[2017-10-24 21:58] #924 closed

[2017-10-24 22:02] geeknoid commented on #932
Do we have more info on this?

[2017-10-24 22:02] douglas-reid commented on #1507
I've sent an initial PR for metrics stuff (https://github.com/istio/istio.github.io/pull/688).

[2017-10-24 22:03] geeknoid commented on #959
Should we move this to the proxy and/or mixerclient?

[2017-10-24 22:06] geeknoid commented on #986
Part of the solution for this is #1489

[2017-10-24 22:07] geeknoid commented on #994
Covered by #1495

[2017-10-24 22:07] #994 closed

[2017-10-24 22:13] geeknoid commented on #1132
Can this be closed?

[2017-10-24 22:14] geeknoid commented on #1139
Captured by #1495

[2017-10-24 22:14] #1139 closed

[2017-10-24 22:17] guptasu commented on #1132
We need to add Name to Type too. I need to fix that.

[2017-10-24 22:18] geeknoid commented on #1314
Done.

[2017-10-24 22:18] #1314 closed

[2017-10-24 22:21] douglas-reid commented on #959
@geeknoid maybe?

do we have anything open re: resource quotas and deallocation (so that we could constrain the # of active connections)?

[2017-10-24 22:23] geeknoid commented on #1455
Supporting structs as a first class attribute type has considerable implications. Whereas Mixer generally ensures strong typing, this would introduce weak typing into our model. It would also likely require substantial syntax enhancements in our expression language.

[2017-10-24 22:24] douglas-reid commented on #450
@geeknoid sure. and I think this is still relevant.

[2017-10-24 22:25] geeknoid commented on #959
The intermediated API currently doesn't provide any mechanism for release quota, so its only suited for allocation quotas.

Is adding this support to the intermediated API what you had in mind with this issue?

[2017-10-24 23:48] geeknoid opened #1509 "Design a template to allow tracing data to flow through Mixer"
We want Mixer to be able to ingest and manipulate tracing data, so we need a generic template to carry tracing data.

[2017-10-24 23:50] geeknoid opened #1510 "Add tracing support to the StackDriver adapter."
Have the StackDriver adapter implement the template designed in #1509

[2017-10-25 19:23] sebastienvas commented on #1504
What is this thing for ? How is it used today ? you can use gcr.io/istio-io/istio-builder:0.3.2. While you re at it, could you also update https://github.com/istio/mixer/blob/master/bin/build_mixer_release.yaml#L5 ?

[2017-10-25 23:02] guptasu commented on #1456
Looking into it now

[2017-10-25 23:40] mandarjog commented on #1456
@guptasu IL is not fully compliant with all the tests I think.
pkg/expr has eval_tests that should be run against IL. I don’t think IL tests cover the equivalent functions.

[2017-10-26 01:13] guptasu commented on #1216
This is a dupe of https://github.com/istio/mixer/issues/1456. Closing this issue in favor of the latest one.

[2017-10-26 01:13] #1216 closed

[2017-10-26 01:20] guptasu commented on #1456
@mandarjog

So far based on my investigation, the Eval code return nil when expression is something like `absent.attr | ""` and therefore generated code panics when it tried to cast the field into `string`. We can change the generated code to use EvalString(Which itself panics in this case, but that can be easily fixed) and prevent panic. However, in case when the datatype of the field is ValueTyp

[2017-10-26 02:06] douglas-reid commented on #1456
@guptasu see also: https://github.com/istio/mixer/issues/934

[2017-10-26 02:30] guptasu commented on #1456
I see, https://github.com/istio/mixer/issues/934 is now worsen because of panic from generated code. Fixing the panic from generated code is trivial, but ideal solution is to fix #934, imo

[2017-10-26 02:41] douglas-reid commented on #1466
update: i've suggested the approach of adding the namespace directly in the prometheus adapter. i will be generating the PRs necessary for that in the coming days, as I work with @nmnellis to put together initial design for alertmanager configs in prometheus for istio.

[2017-10-26 15:12] douglas-reid opened #1513 "Reduce level and verbosity of attrgenmgr logs"
As reported on istio-users, there should be a mechanism for reducing the volume of logs coming from attrgenmgr.

[2017-10-26 16:57] #1513 closed

[2017-10-27 00:12] sakshigoel12 commented on #1315
@geeknoid I have seen the adapter guide. Does  that include the template guide as well? Can we close this

[2017-10-27 00:18] guptasu commented on #1315
This is done too.
https://github.com/istio/mixer/blob/master/doc/dev/templates.md

[2017-10-27 00:18] #1315 closed

[2017-10-27 12:58] nmnellis commented on #1466
@douglas-reid i've started a document in my own fork for metrics and alerting. it's a mess currently but if there is a better way to share it let me know. maybe a google doc somewhere?
 https://github.com/nmnellis/mixer/blob/32dab1e0d553692be05496d6e3a6abd2e742da16/adapter/prometheus/alerts.md

[2017-10-27 18:21] guptasu commented on #1477
This will achieve the following requirements as mentioned in the old bug (#534) around this task
* type-checking on inputs to Generate (perhaps figure out how to wire in populated struct of inputs, etc.)
* type-checking on outputs from Generate (perhaps pass in AttributeDefinitions for controlling outputs, etc.)

[2017-10-27 18:23] guptasu opened #1518 "Validate APA attributes are not generated elsewhere"
This is a subtask from other top level bug: #534

* validation that generation of an attribute value is not occurring in multiple places (proxy-mixer, mixer APAs, etc.)

[2017-10-27 18:25] guptasu commented on #534
@geeknoid this bug can now be closed since the sub items are already covered by #1518 and #1477

[2017-10-27 18:25] #534 closed

[2017-10-27 18:25] guptasu commented on #534
@douglas-reid FYI

[2017-10-27 18:25] guptasu commented on #1061
Dupe of #1482

[2017-10-27 18:25] #1061 closed

[2017-10-27 18:35] guptasu commented on #1478
@geeknoid I think the support for cross referencing can be done as a separate task. I am move the feature to reference sub messages into its own issue. Basically this issue will just be about allowing sub-messages inside templates.

[2017-10-27 18:36] guptasu opened #1519 "Allow referencing templates/submessages from other configuration elements."
we'd like to enable systematic support to allow submessages to be instantiated inline in the YAML, or via reference. Via reference allows the same submessage to be reused in multiple places, which is useful for things like monitored resources.

[2017-10-27 18:36] guptasu commented on #1478
#1519

[2017-10-27 18:39] guptasu opened #1520 "Design template versioning story."
We need to allow template developers to make breaking changes to their template via some versioning mechanism.

[2017-10-27 18:41] guptasu commented on #1520
@geeknoid @mandarjog @douglas-reid FYI. I think we need to think about this during this quarter.. Versioning scares me, since beta is our last shot for us to enable ourselves + the template developers to make breaking  changes in the future.

[2017-10-27 18:47] guptasu opened #1521 "Design versioning of interface between mixer and adapter."
We want an ability for Mixer to change its interface (code generated), in the future, between itself and adapter developers. This will allow us to introduce new features that might need breaking existing interface between Mixer and adapter, and at the same time not break adapters that are using old interface.

We also need a deprecation story for old version of Mixer-adapter interface, so that Mix

[2017-10-27 19:00] guptasu opened #1522 "Adapters (check, quota, APAs) should communicate back to mixer on what input fields they used."
For APAs and for other adapters too, we need a mechanism to figure out what input fields did the adapter used within a scope of a given request. This information along with operator configuration will help Mixer identify the smallest set of attributes used to serve a request, which indirectly will help reduce the attribute based cache key size and might result into higher cache hit rate.

For APAs

[2017-10-27 19:11] guptasu commented on #1477
https://docs.google.com/document/d/1r_yJdZCa1QzJeh5qnoNRF3KmuhQVcAQ4CEFEeWtH6N0/edit#heading=h.x9snb54sjlu9 defines the plan.
#1522 is a followup item (how to communicate the used attributes by the adapter) that might change the signature of the interface.

[2017-10-27 19:28] guptasu commented on #1522
@geeknoid do we already have an issue for this, I couldn't find it and therefore created it and referenced it from my APA to template model migration work (#1477)

[2017-10-27 20:06] geeknoid commented on #1522
I don't think we'll get much leverage for this idea for check & quota adapters. I'm much more interested in APAs at the moment.

[2017-10-27 21:54] jmuk opened #1524 "test flakiness `//pkg/config/store:go_default_test (TestQueueCancelSync)`"
A report said the test `TestQueueCancelSync` failed on a presubmit, succeeded on another retest. This can be flaky.

A link: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_mixer/1523/mixer-presubmit/1316/

Related part:
[code]

cc: @ozevren

[2017-10-27 22:23] guptasu commented on #1420
This is interesting, so if we send some set of attribute data (service name etc.) to the adapters via the context, it would mean that those attributes are used during the request execution and will be part of tainted attribute set. I think this is problematic because adapters might never use that information but our cache key will have that attribute as part of it. Is there a way to fetch data fro

[2017-10-28 00:00] geeknoid commented on #1420
I think #1 is reasonable.

[2017-10-28 02:28] andraxylia commented on #1471
/subscribe

[2017-10-30 20:34] geeknoid opened #1540 "Pass a per-request env"
It's desirable to pass a per-request Env object for use by adapters. This would let Mixer fine-tune things like logging output for the request.

The env can be passed in the context object and extract via a context-specific method.

[2017-10-31 04:54] rlguarino opened #1542 "Question: Does the attribute request.headers include grpc Metadata?"
The docs [here](https://istio.io/docs/reference/config/mixer/attribute-vocabulary.html) for "request.headers" the attributes say "HTTP request headers" I don't think grpc metadata is sent over HTTP headers but I could be wrong.

[2017-10-31 16:50] apicl commented on #1503
Fixed in https://github.com/istio/mixer/commit/08f4f364d914684ece832c7d9635b81dba0f702f

[2017-10-31 16:50] #1503 closed

[2017-11-01 17:01] nmnellis opened #1543 "Feature Request - expression lang support"
Use case: I am currently reporting the http path of each request to prometheus for monitoring. I noticed that the path contains the query parameters as well. i would like to remove the query parameters from the http path label.

On a more general level it would be nice to use expressions to parse the data being sent to a given adapter.

[2017-11-01 17:10] douglas-reid commented on #1543
From the attribute vocab definition:

We should consider the introduction of a new "standard" attribute with query string removed.  This can be used as a compliment to the pending api mgmt work as well.

adding a `substring` type of func to the expression language is also a path forward here.

[2017-11-01 19:43] manlinl opened #1544 "Mixer should always propagate request.time to handler"
request.time is often needed for handler. Propagating it to handler automatically removes timestamp field in all template.

[2017-11-01 20:03] douglas-reid commented on #1496
High-level design doc proposal: https://goo.gl/3KoVf7

[2017-11-02 17:17] #1524 closed, assigned to jmuk

[2017-11-03 09:41] sebastienvas commented on #395
this was resolved by kuat.

[2017-11-03 09:41] #395 closed

[2017-11-05 15:07] ptone commented on #1490
looking for an open implementation of CEL evaluator and came upon this and wondering if open issues on this repo are moving to istio/istio ?

[2017-11-05 16:55] mandarjog commented on #1490
They will probably move, however if they move we will put a link here of its new home. Until then you can watch this issue.

[2017-11-07 21:50] guptasu commented on #1456
Assigning to @ozevren since his change of replacing nil as empty str `""` fixes this issue.

[2017-11-08 03:28] #1544 closed, assigned to nobody

[2017-11-08 16:58] ozevren commented on #1456
Fixed by https://github.com/istio/istio/pull/1322

[2017-11-08 17:47] geeknoid commented on #1542
Wayne, could you answer the question and update the docs to make the answer clear?

Thanks.

[2017-11-08 17:49] geeknoid opened #1545 "Add support for default expressions in template definitions"
We should make it possible for template authors to specify default expressions for individual fields in a template definitions. If the instance defined by the operator doesn't include the given field, Mixer will use the default expression automatically.

This provides a way to have extremely low-cost instances where all the defaults are assumed. It also makes a better story when adding new fields

[2017-11-08 21:34] guptasu commented on #1545
One thing is unclear to me. Expression's vocabulary is owned by the operator, they can choose to define their own attributes config and therefore the expressions used by the template developer might just not work. Which would mean with every template there should be an equivalent attributes config that expresses the vocabulary of attributes used in the default value expression.

WDYT ?

[2017-11-08 21:42] guptasu commented on #1456
@ozevren let's close this once your other PR that adds the test is also submitted:
This particular piece of code : https://github.com/istio/istio/pull/1588/files#diff-2a580837695f112651fc7e7ffad9c3c3R799

I also don't have permissions but we can mark is as closed or ask Martin to close it.

[2017-11-08 23:52] ozevren commented on #934
The "|" operator now returns "" when LHS is an attribute and the attribute is not present.

[2017-11-09 05:52] geeknoid commented on #934
Closing per Oz.

[2017-11-09 05:52] #934 closed

[2017-11-09 18:03] geeknoid commented on #1545
We've adopted a largely generic attribute vocabulary at this point, so I think it's reasonable for these templates to be expressed in terms of this generic vocab.

[2017-11-09 21:57] geeknoid commented on #1477
Issue moved to [istio/istio #1630](https://github.com/istio/istio/issues/1630) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-09 21:57] #1477 closed

[2017-11-09 22:07] geeknoid commented on #1545
This issue was moved to istio/istio#1631

[2017-11-09 22:07] #1545 closed, assigned to guptasu

[2017-11-16 16:18] #1105 closed

[2017-11-21 22:48] geeknoid commented on #1488
Done.

[2017-11-23 05:35] geeknoid commented on #1493
Is this done, can we close?

[2017-11-23 06:19] geeknoid commented on #1489
There's a PR out for a prototype of this.

[2017-11-23 06:19] geeknoid commented on #1488
There's a new package for this.

[2017-11-23 06:19] #1488 closed

[2017-11-23 06:21] geeknoid commented on #606
Solution: eliminate flags and replace by config.

[2017-11-23 06:21] #606 closed

[2017-11-23 06:26] geeknoid commented on #1542
Ping: Wayne?

[2017-11-23 06:29] geeknoid commented on #1361
Does slapping a sidecar on Mixer address this?

[2017-11-23 06:32] geeknoid commented on #111
Good for now.

[2017-11-23 06:32] #111 closed

[2017-11-23 07:54] ozevren commented on #1493
"No".

I have an implementation available locally, but I am hesitant to submit it
yet:

   - It doesn't perform any attribute-bag-level marking of the regular
   expression.
   - CEL version of the 'matches' function is an instance level function
   (i.e. "pattern".matches("input")). The current type-checker does not allow
   instance-methods. As such, the only way to introduce it is as a regular

[2017-11-23 13:00] geeknoid commented on #1322
Issue moved to [istio/istio #1853](https://github.com/istio/istio/issues/1853) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-23 13:05] geeknoid commented on #1388
The list checking adapter has got 100% test coverage.

[2017-11-23 13:05] #1388 closed

[2017-11-23 13:11] geeknoid commented on #1375
That's how it works.

[2017-11-23 13:11] #1375 closed

[2017-11-23 13:14] geeknoid commented on #1347
Anything else to do, or can we close this?

[2017-11-23 13:22] geeknoid commented on #1220
Subsumed by #1481

[2017-11-23 13:22] #1220 closed

[2017-11-23 13:29] geeknoid commented on #1152
I think we can close this, right?

[2017-11-23 13:36] geeknoid commented on #1394
We don't have a redis adapter.

[2017-11-23 13:36] #1394 closed

[2017-11-23 14:35] sdake commented on #1347
@geeknoid I've tested master last week on CentOS and it works well.  I don't see any further need to keep this open.  I'm not sure if I originally opened it because of other bugs, or things magically worked themselves out.   We can always reopen a new issue if people run into trouble.

[2017-11-23 14:35] #1347 closed

[2017-11-24 08:53] ldemailly commented on #1489
aforementioned PR is https://github.com/istio/istio/pull/1840

[2017-11-27 17:05] ozevren commented on #1389
Andy,

Can you elaborate on how the deduction of "is identified as incomplete test coverage." is made? There is already an extensive slew of tests that has already been covering this feature. What is the exit criteria for this?

[2017-11-27 18:40] guptasu commented on #1152
@geeknoid this is not done and will break the few adapters we have now. It is a simple rename for the adapters so compile time breaking them is not that terrible. However, I personally prefer `impl` because it can be a github link to the implementation code or it can be a package name; `Package` on the other hand is very opinionated.

[2017-11-27 19:06] #1152 closed

[2017-11-27 22:04] hklai commented on #1389
This came from https://docs.google.com/document/d/1-b9K5HfW3WRD7LLadlp4MsJtT5zq0b6pdzGt-0hBEtE/edit# and the worksheet (https://docs.google.com/document/d/1-b9K5HfW3WRD7LLadlp4MsJtT5zq0b6pdzGt-0hBEtE/edit#) after talking with @mandarjog and @douglas-reid.

AFAICT, there is currently no integration tests for Mixer. @douglas-reid and @mandarjog are looking into building some using the integration te

[2017-11-28 04:53] #1352 closed

[2017-11-30 18:26] ozevren commented on #1389
After offline discussion, I am closing this bug: The expression language itself is not a good target for integration tests: It neither has downstream component dependencies, nor it is restricted to a particular set of scenarios (thus requires particular tracking for integration testing purposes). Similar to other infrastructure pieces (such as gRpc server head), it is in the middle of any and all

[2017-11-30 18:26] #1389 closed

[2017-12-01 16:50] manlinl commented on #1456
Close, since fix is in. @guptasu @ozevren

[2017-12-01 16:50] #1456 closed

[2017-12-05 01:15] ozevren commented on #1493
This implements the functionality, except for tracking the regex itself for cache keying purposes:
https://github.com/istio/istio/pull/1941

[2017-12-05 01:15] #1493 closed

[2017-12-13 19:02] #1369 closed

[2017-12-13 19:41] mandarjog commented on #1387
Stack driver is not on the list for 1.0

[2017-12-13 19:44] mandarjog commented on #1400
@geeknoid This is related to the new logging library PR. Does it already support dynamic log level changes? This issue reads more like an incomplete feature.
Are we promising this for 1.0 ?

[2017-12-13 19:47] mandarjog commented on #1393
@liminw when is OPA adapter expected to drop into istio/istio?
This feature slated to be alpha for Q1.

[2017-12-13 19:47] mandarjog commented on #1393
Changing to P1 to reflect over all priority.

[2017-12-13 19:54] mandarjog commented on #1392
This is a required feature with webhooks for 1.0. There are several feature PRs out for review.
@jmuk Please add integration tests once the validation PRs drop.

[2017-12-14 18:11] mandarjog commented on #1397
Prometheus is the de facto standard for all out self reported metrics.
Envoy, Mixer and Pilot all report metrics to Prometheus.

I am closing this issue as the subresource feature may not be needed.
There is a separate issue to track Mixer metrics.

[2017-12-14 18:12] mandarjog commented on #1390
Baseline memquota support has adequate test coverage in e2e tests.

[2017-12-14 18:12] #1390 closed

[2017-12-14 18:14] #1397 closed

[2017-12-14 18:26] mandarjog commented on #1399
Plan
1. Review that grpc, dispatch, resolver and adapter level metrics are adequate.
2. Write test to verify that corrects metrics are produced given errors.

@douglas-reid assigning to you.

[2017-12-14 18:28] mandarjog commented on #1398
combining with general mixer monitoring.

[2017-12-14 18:28] #1398 closed

[2017-12-14 18:32] mandarjog commented on #1451
yes, fixed.

[2017-12-14 18:32] #1451 closed

[2017-12-14 18:34] mandarjog commented on #1396
@jmuk Please come up with a test plan on how to test liveness / readiness checks.
If they are included in your other PRs, you may state it here and close.
Thanks.

[2017-12-14 18:36] mandarjog commented on #1391
1. Implement cache counters in mixer client / mixer filter
2. Ensure that cacheable responses actually hit the cache.

[2017-12-14 18:39] mandarjog commented on #1387
Issue moved to [istio/istio #2158](https://github.com/istio/istio/issues/2158) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 18:39] #1387 closed

[2017-12-14 18:40] #1395 closed

[2017-12-14 18:40] mandarjog commented on #1395
Issue moved to [istio/istio #2159](https://github.com/istio/istio/issues/2159) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 18:44] mandarjog commented on #1393
OPA adapter has not been implemented yet. I am closing this.
When it is implemented, tests will be added with it.

[2017-12-14 18:44] #1393 closed

[2017-12-14 18:44] mandarjog commented on #1391
Issue moved to [istio/istio #2160](https://github.com/istio/istio/issues/2160) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 18:44] #1391 closed

[2017-12-14 18:46] #1392 closed

[2017-12-14 18:46] mandarjog commented on #1392
Issue moved to [istio/istio #2161](https://github.com/istio/istio/issues/2161) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 18:46] #1396 closed

[2017-12-14 18:46] mandarjog commented on #1396
Issue moved to [istio/istio #2162](https://github.com/istio/istio/issues/2162) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 18:48] #1399 closed

[2017-12-14 18:48] mandarjog commented on #1399
Issue moved to [istio/istio #2163](https://github.com/istio/istio/issues/2163) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 18:50] mandarjog commented on #1400
Issue moved to [istio/istio #2164](https://github.com/istio/istio/issues/2164) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 18:50] #1400 closed

[2017-12-15 18:37] #1411 closed

[2017-12-21 22:49] rlguarino commented on #1542
Any update on this?

[2017-12-21 23:22] qiwzhang commented on #1542
Sorry, I somehow missed it.  Yes,  gRPC metadata will be send over in the "request.headers" attribute.

[2017-12-21 23:30] qiwzhang commented on #1542
https://github.com/istio/istio.github.io/pull/816
to update the doc

[2017-12-22 16:48] #1542 closed, assigned to qiwzhang

[2018-01-11 00:45] guptasu commented on #1479
So, @ozevren and I chatted about this a bit. Until we have support for first class enums in CEL where enums can be written as named things, we can ask the operator to write equivalent integer value for the enum values. In the generated code we will transform the integer value from the parsed expression into the enum value and pass it to the adapter. So, adapters will get nice enum value inside the

[2018-01-11 00:48] geeknoid commented on #1479
Hmmm. What we have now is that the operator specifies:

  color: "blue"

I'd like it to be:
  in template: enum { RED, GREEN, BLUE}
  in config: color: BLUE

and you're suggesting that we do temporarily:

  color: 2

Seems like a regression to me, I'd rather go with a mnemonic string than a naked int.

[2018-01-11 00:58] guptasu commented on #1479
Hmm...  As long as template writers don't change the name of the Enum values we can even go with strings.

template
[code]

config:
[code]

and adapters get
[code]

@geeknoid @ozevren Thoughts now ?

[2018-01-11 01:04] geeknoid commented on #1479
So we get the right thing in the template and in the adapter, but the
config format is a bit awkward. It sounds reasonable.

Do you think if/when we actually support enums, we could continue to
support this proposed form in a compatible way? That is, can we roll out
real enums without breaking these hacky enums?

On Wed, Jan 10, 2018 at 4:58 PM, Sunny Gupta <notifications@github.com>
wrote:

[2018-01-11 01:21] guptasu commented on #1479
I think so. We currently load every entry in config as string. Once we have real enums working in expression parser we can do something like this in the generated code..
[code]

Thinking about this, even the hacky enum is not free and might take around ~2 weeks. So, depending on what @ozevren  think proper enums can be supported in CEL, we can decide to go with the hack or not.

[2018-01-19 16:42] rlguarino commented on #1333
@geeknoid  I don't think that this made it into the 0.3 release. Should this Issue be moved into the istio/istio repository?

[2018-01-19 17:48] geeknoid commented on #1333
Issue moved to [istio/istio #2706](https://github.com/istio/istio/issues/2706) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-19 17:48] #1333 closed

[2018-01-20 07:31] guptasu commented on #1521
https://goo.gl/CaKG9X

[2018-02-11 04:58] ldemailly commented on #1472
done
https://github.com/istio/istio/blob/master/tools/README.md

[2018-02-11 04:58] #1472 closed

[2018-02-11 05:07] ldemailly commented on #1471
done same as #1472

(make a different issue in istio/istio if needed for refinements)

[2018-02-11 05:07] #1471 closed

[2018-02-18 19:29] ldemailly commented on #285
copied to https://github.com/istio/istio/issues/3598 not sure if you want to keep issues open here ? shouldn't they all get moved?

[2018-03-12 15:55] ozevren commented on #1491
Done: https://github.com/istio/istio/pull/4156

[2018-03-12 15:55] #1491 closed

[2018-03-12 15:56] ozevren commented on #1492
Done: https://github.com/istio/istio/pull/4156

[2018-03-12 15:56] #1492 closed

[2018-03-12 15:59] ozevren commented on #1320
Having looked at this recently, I'd say now() has some fundamental problems (mostly with cacheability and introducing observability to the ordering of expressions).

I believe the alternatives are request.time and context.time. request.time should be generated in the proxy.

[2018-03-12 16:00] ozevren commented on #450
This is done: https://github.com/istio/istio/pull/4156

[2018-03-12 16:00] #450 closed

[2018-03-12 16:19] ozevren commented on #1487
Resolving this as a duplicate of :https://github.com/istio/istio/issues/3572
While 3572 is newer, it is also in the new depot.

[2018-03-12 16:19] #1487 closed

[2018-03-13 01:56] ldemailly commented on #1320
Issue moved to [istio/istio #4233](https://github.com/istio/istio/issues/4233) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-13 01:56] #1320 closed

[2018-03-16 00:49] sirajmansour commented on #1323
+1, if a namespace metadata property is not specified in the yaml, it should default to "default" unless overriden by the `-n` flag of istioctl. and then using the shortname when referencing other resources should qualify as the current namespace.

[2018-03-21 21:51] ayj commented on #509
@geeknoid, is this issue still relevant?

[2018-03-21 21:54] geeknoid commented on #509
All done.

[2018-03-21 21:54] #509 closed

[2018-04-11 23:24] ayj commented on #1095
https://github.com/istio/istio/pull/2002 added filed based health checks to Mixer. It looks like the mixer helm templates still need to be updated to use them.

[2018-04-11 23:25] #1095 closed

[2018-05-19 00:25] semistrict commented on #1510
I am actively working on this here: https://github.com/ramonza/istio/tree/stackdriver-trace
@douglas-reid would you like to assign this to me?

[2018-05-19 02:56] douglas-reid commented on #1510
@ramonza sure. Do you want to open an issue in istio/istio and track it there?  This repo is just a legacy code holder at this point.

[2018-05-29 17:56] kyessenov commented on #932
The derivation should be coupled with the routing information, since proxies determine the host service from the request metadata already. Mixer should only attempt to re-derive as a backup.

[2018-06-04 22:47] geeknoid commented on #63
Hey Doug, can this be considered done?

[2018-06-04 23:11] douglas-reid commented on #63
Yes. Let's close this. We can always make our existing choices/impl better, but we have monitoring in place now.

[2018-06-04 23:11] #63 closed